In [76]:
import geopandas as gpd
station_id_map = gpd.read_parquet('station-id-map.parquet')

# From the station id map, we can look at the edf directly and find how long it takes to go from one stop to another
# Take Brown Line (Kimball to Kedzie-Brown to Francisco)
station_id_map[(station_id_map.line == 'T') & station_id_map.stop_name.isin(['Kimball', 'Merchandise Mart'])]

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,location_type,parent_station,wheelchair_boarding,route_id,line,dir_code,geometry,index_right,Line,CurrentStationId,Lat,Lng,DirCode
468,30090,NaN,Merchandise Mart,None,41.888969,-87.633924,0,40460,1,Brn,T,1,POINT (-87.63392 41.88897),1271,T,31291,41.88897,-87.63397,1
469,30090,NaN,Merchandise Mart,None,41.888969,-87.633924,0,40460,1,Brn,T,1,POINT (-87.63392 41.88897),1582,T,31340,41.88897,-87.63397,1
500,30249,NaN,Kimball,None,41.967901,-87.713065,0,41290,1,Brn,T,1,POINT (-87.71307 41.96790),439,T,31735,41.96607,-87.71087,1
511,30091,NaN,Merchandise Mart,None,41.888969,-87.633924,0,40460,1,Brn,T,5,POINT (-87.63392 41.88897),968,T,35420,41.89030,-87.63548,5
512,30091,NaN,Merchandise Mart,None,41.888969,-87.633924,0,40460,1,Brn,T,5,POINT (-87.63392 41.88897),816,T,35414,41.89030,-87.63548,5
513,30091,NaN,Merchandise Mart,None,41.888969,-87.633924,0,40460,1,Brn,T,5,POINT (-87.63392 41.88897),892,T,35418,41.89030,-87.63548,5
514,30091,NaN,Merchandise Mart,None,41.888969,-87.633924,0,40460,1,Brn,T,5,POINT (-87.63392 41.88897),7781,T,35405,41.89030,-87.63548,5
540,30250,NaN,Kimball,None,41.967901,-87.713065,0,41290,1,Brn,T,5,POINT (-87.71307 41.96790),1275,T,35020,41.96790,-87.71314,5

In [77]:
#station_id_map.set_index('parent_station').to_dict()['CurrentStationId']
from collections import defaultdict
PS_to_CS_dict = defaultdict(list)
for idx,row in station_id_map.iterrows():
    PS_to_CS_dict[row['parent_station']].append(row['CurrentStationId'])

print(PS_to_CS_dict)

defaultdict(<class 'list'>, {40010: [11080, 15640], 40060: [11520, 15200], 40070: [11300, 15420], 40180: [11060, 15660], 40220: [11160, 15560], 40230: [11631, 11622, 11633, 11640, 15067, 15062, 15065, 15080, 15076, 15078, 15074], 40250: [11140, 15578], 40320: [11420, 15300, 15281], 40350: [11235, 11232, 11230, 11240, 11228, 15480], 40370: [11340, 15380], 40390: [11020, 15695], 40430: [11260, 15460], 40470: [11206, 11203, 11202, 11220, 11201, 15500], 40490: [11380, 15340], 40550: [11550, 11560, 15160], 40570: [11480, 15240], 40590: [11440, 15280], 40670: [11460, 15260], 40750: [11620, 11604, 11605, 15100, 15083, 15082, 15095, 15097, 15093, 15087, 15085], 40790: [11320, 15400], 40810: [11180, 15540], 40820: [11642, 11646, 11653, 11643, 11651, 11660, 15041, 15026, 15047, 15023, 15057, 15062, 15043, 15045, 15055, 15060], 40890: [11663, 11662, 11699, 11667, 11693, 11696, 11673, 11682, 11675, 15020], 40920: [11120, 15600], 40970: [11100, 15620], 40980: [11040, 15680], 41020: [11500, 15231, 15220], 41240: [11540, 15180], 41280: [11598, 11593, 11600, 11591, 11599, 15105, 15114, 15115, 15102, 15113, 15116, 15120], 41330: [11580, 15140, 15131, 15122], 41340: [11280, 15440], 41410: [11400, 15320], 40380: [11360, 15360, 31260, 55180, 55180, 35430, 55180, 31260, 55180], 40020: [41761, 45020], 40030: [41640, 45160], 40480: [41660, 45140], 40130: [41200, 45540], 40170: [41498, 41500, 45300, 61260, 41498, 61245, 61255, 41500, 61242, 61258, 61250, 61240, 45300], 40260: [31240, 55195, 55195, 55195, 31240, 55195], 40280: [41700, 45100], 40290: [41020, 45790], 40300: [41260, 45480], 41400: [51200, 41301, 41300, 55340, 51178, 51200, 55340, 81236, 81240, 85580], 40510: [41180, 45560], 40610: [41740, 45060], 40680: [31180, 55230, 55260, 55260, 55230, 55260, 55230, 31180, 55230, 55260], 40700: [41680, 45120], 40720: [41120, 45601], 40940: [41060, 45760], 41070: [41600, 45200], 41080: [41220, 45520], 41120: [41280, 45460, 45450, 45441, 45440], 41140: [41140, 45600], 41160: [41460, 45340, 41460, 45340], 41260: [41715, 45080], 41270: [41240, 45500], 41350: [41760, 45040], 41360: [41580, 45220], 41670: [41620, 45180], 41510: [41480, 45320, 41480, 45320], 41690: [41315, 45445], 41700: [31215, 55235, 55235, 55235, 31215, 55235], 40120: [51100, 55440], 40310: [51080, 55460], 40930: [51020, 55518], 40960: [51040, 55498], 41060: [51118, 55420], 41130: [51140, 55400], 41150: [51060, 55480], 40040: [55080, 55080, 31080, 55080], 40160: [55055, 55055, 31100, 55055], 40730: [55095, 55095, 31060, 55095], 40850: [55040, 55040, 31120, 55040], 40050: [71380, 75100], 40270: [71340, 75140], 40400: [71420, 75055], 40460: [31340, 31291, 35405, 35420, 35418, 35414, 31291, 31340, 35420, 35414, 35418, 35405], 40520: [71400, 75080], 40530: [31438, 35320, 31438, 35320], 40660: [31382, 31390, 31396, 31400, 31387, 31398, 31383, 31393, 31399, 35360, 31382, 31383, 31387, 31393, 31390, 31398, 31399, 31400, 31396, 35360], 40690: [71360, 75120], 40710: [31358, 31350, 31360, 31345, 35382, 35400, 35389, 35398, 35384, 35390, 35399, 35394, 35386, 35396, 31360, 31358, 31345, 31350, 35394, 35390, 35396, 35384, 35400, 35399, 35382, 35398, 35389, 35386], 40800: [31380, 31363, 31371, 31373, 31369, 31367, 31377, 31379, 35378, 35369, 35363, 35374, 35376, 35379, 35367, 35380, 31371, 31367, 31363, 31369, 31380, 31377, 31379, 31373, 35378, 35363, 35369, 35367, 35376, 35379, 35380, 35374], 40840: [81675, 81659, 81650, 81662, 71235, 81667, 71176, 81642, 71225, 71320, 75160], 40900: [71225, 81650, 81642, 81675, 71235, 81659, 71300, 71176, 81662, 81667, 75200, 71300, 81675, 71176, 85060, 91020, 95040, 95045, 95048, 95058, 95060, 95062, 95064, 95066, 95035, 95068, 95070, 95072, 95078, 95080, 95052, 95075, 95021, 95041, 95042, 95030], 41050: [71455, 75020], 41210: [31455, 35300, 31455, 35300], 41220: [31420, 35340, 31403, 81465, 31420, 81480, 85322, 85340, 31420, 35340], 41250: [71440, 75038], 41320: [81500, 31468, 85315, 31468, 81493, 81500, 85315, 31475, 81500, 35280], 40540: [81566, 81579, 81564, 81563, 81580, 81562, 81577, 85240, 85219, 75304, 85159, 75270, 75306, 85156, 85170, 75300, 81564, 81580, 81562, 81577, 81566, 81579, 81563, 85240, 85219], 40080: [81560, 85255, 85260, 85244, 85251], 40100: [81725, 81722, 81740, 85080], 40190: [81180, 85640], 40240: [81080, 85740], 40330: [81360, 85460], 40450: [81040, 85775], 40560: [81280, 85540], 40630: [81400, 85420], 40650: [81440, 85354, 85380], 40760: [81679, 81695, 81674, 81699, 81685, 81700, 81676, 81667, 85105, 85120, 85102, 85115, 85119, 85110], 40880: [81667, 81679, 81680, 81674, 81662, 81676, 85139, 85128, 85140, 85135], 40910: [81120, 85700], 40990: [81100, 85720], 41000: [81200, 81236, 85621], 41090: [81300, 85520], 41170: [81140, 85680], 41190: [81760, 75220], 41200: [81620, 85170, 85200], 41230: [81160, 85660], 41300: [81720, 81718, 81706, 81713, 81719, 81710, 81703, 85090, 85098, 85099, 85100], 41380: [81650, 81659, 81642, 81660, 85159, 85160, 85150, 85156, 85142], 41420: [81540, 85280], 41430: [81060, 85760], 41450: [81380, 85440], 41490: [81260, 85560], 41660: [81340, 81354, 85480], 40090: [31640, 35120], 40360: [31540, 35220], 40870: [31700, 35060], 41010: [31680, 35080], 41180: [31720, 35040], 41290: [31735, 35020], 41310: [31560, 35200], 41440: [31580, 35180], 41460: [31600, 35160], 41480: [31660, 35100], 41500: [31620, 35140], 40150: [61080, 65260], 40210: [61180, 65160], 40420: [61040, 65300], 40440: [61140, 65200], 40580: [61020, 65318], 40600: [61060, 65280], 40740: [61160, 65180], 40780: [61100, 65240], 40830: [61200, 65140], 41030: [61220, 15519, 65120, 15516, 15517, 15514, 15518, 15515], 41040: [61120, 65220], 40140: [91078, 95040, 95045, 95048, 95058, 95060, 95062, 95064, 95066, 95035, 95068, 95070, 95072, 95078, 95080, 95052, 95075, 95021, 95041, 95042, 95030], 41680: [91058, 95040, 95045, 95048, 95058, 95060, 95062, 95064, 95066, 95035, 95068, 95070, 95072, 95078, 95080, 95052, 95075, 95021, 95041, 95042, 95030]})

In [78]:
# In previous result, scroll over to see CurrentStationId -> 31735, 31340
#
# Now, let's look at the actual times from the entries data
import pandas as pd
edf = pd.read_parquet('2022-03-entries-start.parquet')
edf.query('RunNumber == 420 and Datetime > "2022-03-01 00:53:00"').head()

,Line,Datetime,Lat,Lng,RunNumber,CurrentStationId,ExitStationId,Direction,LineName,DirMod,DestName,IsSched,CSSClass,Flags
11202,T,2022-03-01 00:53:02,41.94702,-87.67474,420,31580,31740,1.620330,Brn,to,Kimball,False,ttpm_predslip_brown,
11268,T,2022-03-01 00:53:22,41.94702,-87.67474,420,31580,31740,1.620330,Brn,to,Kimball,False,ttpm_predslip_brown,
11333,T,2022-03-01 00:53:42,41.95077,-87.67483,420,31581,31740,1.600769,Brn,to,Kimball,False,ttpm_predslip_brown,
11398,T,2022-03-01 00:54:01,41.95077,-87.67483,420,31581,31740,1.600769,Brn,to,Kimball,False,ttpm_predslip_brown,
11462,T,2022-03-01 00:54:21,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,

In [79]:
# Now, look at a RunNumber on the Brown Line and just those stations in the "1" direction
CurrentStationIdOne = 31735 #Kimball
CurrentStationIdTwo = 31340 #Merchandise Mart
edf.query(f'RunNumber == 420 and CurrentStationId.isin([{CurrentStationIdOne}, {CurrentStationIdTwo}])').head()

,Line,Datetime,Lat,Lng,RunNumber,CurrentStationId,ExitStationId,Direction,LineName,DirMod,DestName,IsSched,CSSClass,Flags
6719,T,2022-03-01 00:30:42,41.88897,-87.63397,420,31340,31740,1.614542,Brn,to,Kimball,False,ttpm_predslip_brown,
6786,T,2022-03-01 00:31:01,41.88897,-87.63397,420,31340,31740,1.614542,Brn,to,Kimball,False,ttpm_predslip_brown,
13119,T,2022-03-01 01:03:01,41.96607,-87.71087,420,31735,31740,3.142090,Brn,to,Kimball,False,ttpm_predslip_brown,
108404,T,2022-03-01 14:04:42,41.88897,-87.63397,420,31340,31740,1.614542,Brn,to,Kimball,False,ttpm_predslip_brown,
108491,T,2022-03-01 14:05:01,41.88897,-87.63397,420,31340,31740,1.614542,Brn,to,Kimball,False,ttpm_predslip_brown,

In [80]:
# We have multiple entries for some stations (the train might stay there for a minute)
two_stations = edf.query(f'RunNumber == 420 and CurrentStationId.isin([{CurrentStationIdOne}, {CurrentStationIdTwo}])')
two_stations_dedup = two_stations[two_stations.CurrentStationId.diff() != 0]

# compute the difference
two_stations_dedup.Datetime.diff()

6719                 NaT
13119    0 days 00:32:19
108404   0 days 13:01:41
139655   0 days 02:03:19
199112   0 days 05:01:45
206005   0 days 00:31:15
221925   0 days 01:05:20
255332   0 days 02:11:21
355267   0 days 12:54:00
364335   0 days 00:35:00
380795   0 days 01:02:39
389838   0 days 00:39:00
36591    0 days 21:44:00
71623    0 days 02:12:40
136986   0 days 05:10:41
168844   0 days 02:07:40
184670   0 days 01:01:20
192902   0 days 00:37:39
290590   0 days 12:58:20
322428   0 days 02:08:20
384178   0 days 05:08:20
391488   0 days 00:34:20
406431   0 days 01:01:41
77525    1 days 01:02:39
98403    0 days 02:59:40
113392   0 days 02:32:20
232876   0 days 20:15:40
248358   0 days 02:16:01
258858   0 days 01:31:59
262256   0 days 00:32:01
268368   0 days 01:08:59
270556   0 days 00:30:20
Name: Datetime, dtype: timedelta64[ns]

In [81]:
# the actual times are betweeen 31735 and 31720 so we want every other one, starting with 2
two_stations_dedup.Datetime.diff().iloc[1::2] # 2 is the start, empty is the end and 2 is the step size

13119    0 days 00:32:19
139655   0 days 02:03:19
206005   0 days 00:31:15
255332   0 days 02:11:21
364335   0 days 00:35:00
389838   0 days 00:39:00
71623    0 days 02:12:40
168844   0 days 02:07:40
192902   0 days 00:37:39
322428   0 days 02:08:20
391488   0 days 00:34:20
77525    1 days 01:02:39
113392   0 days 02:32:20
248358   0 days 02:16:01
262256   0 days 00:32:01
270556   0 days 00:30:20
Name: Datetime, dtype: timedelta64[ns]

In [82]:
import pandas as pd
PS_to_CS_df = pd.merge(station_id_map[['parent_station', 'CurrentStationId', 'stop_name']], edf[['CurrentStationId', 'Datetime', 'Line', 'RunNumber']], on='CurrentStationId', how='left')
#print(PS_to_CS_df.to_string())
run420 = PS_to_CS_df.query('Line == "T" and Datetime < "2022-03-02 12:00:00" and RunNumber == 420').sort_values('Datetime') #.drop_duplicates('CurrentStationId').to_string())
run420

,parent_station,CurrentStationId,stop_name,Datetime,Line,RunNumber
745427,41310,35200,Paulina,2022-03-01 00:00:01,T,420
745428,41310,35200,Paulina,2022-03-01 00:00:21,T,420
705535,40360,35220,Southport,2022-03-01 00:01:02,T,420
705536,40360,35220,Southport,2022-03-01 00:01:22,T,420
747181,41320,35280,Belmont,2022-03-01 00:04:01,T,420
...,...,...,...,...,...,...
679355,40870,31700,Francisco,2022-03-02 00:56:01,T,420
682035,41180,31720,Kedzie-Brown,2022-03-02 00:57:01,T,420
682036,41180,31720,Kedzie-Brown,2022-03-02 00:57:22,T,420
687402,41290,31735,Kimball,2022-03-02 00:57:42,T,420
687403,41290,31735,Kimball,2022-03-02 00:58:01,T,420

In [83]:
print(run420[run420.parent_station.shift()!=run420.parent_station].to_string())

# compare runs (take statistics across all runs?)
# does time of day take longer?

        parent_station  CurrentStationId                  stop_name            Datetime Line  RunNumber
745427           41310             35200                    Paulina 2022-03-01 00:00:01    T        420
705535           40360             35220                  Southport 2022-03-01 00:01:02    T        420
747181           41320             35280                    Belmont 2022-03-01 00:04:01    T        420
741556           41210             35300                 Wellington 2022-03-01 00:05:01    T        420
715318           40530             35320                   Diversey 2022-03-01 00:06:02    T        420
742176           41220             35340                  Fullerton 2022-03-01 00:07:42    T        420
716326           40660             35360                   Armitage 2022-03-01 00:09:01    T        420
402263           40800             35363                   Sedgwick 2022-03-01 00:09:41    T        420
391939           40710             35382              Chicago-Brown 2022-03-01 00:13:42    T        420
711742           40460             35414           Merchandise Mart 2022-03-01 00:17:01    T        420
365815           40380             35430      Clark/Lake (Elevated) 2022-03-01 00:19:01    T        420
632559           40040             31080                     Quincy 2022-03-01 00:21:01    T        420
636002           40160             31100          LaSalle/Van Buren 2022-03-01 00:22:21    T        420
677396           40850             31120  Harold Washington Library 2022-03-01 00:23:01    T        420
661227           40680             31180               Adams/Wabash 2022-03-01 00:25:41    T        420
637417           40260             31240                 State/Lake 2022-03-01 00:28:01    T        420
136065           40380             31260      Clark/Lake (Elevated) 2022-03-01 00:28:41    T        420
645263           40460             31291           Merchandise Mart 2022-03-01 00:30:01    T        420
666486           40710             31345              Chicago-Brown 2022-03-01 00:32:01    T        420
321219           40800             31363                   Sedgwick 2022-03-01 00:34:01    T        420
652104           40660             31383                   Armitage 2022-03-01 00:37:21    T        420
502099           41220             31420                  Fullerton 2022-03-01 00:42:21    T        420
299955           40530             31438                   Diversey 2022-03-01 00:44:21    T        420
690050           41320             31475                    Belmont 2022-03-01 00:47:01    T        420
640150           40360             31540                  Southport 2022-03-01 00:50:21    T        420
687963           41310             31560                    Paulina 2022-03-01 00:51:41    T        420
691750           41440             31580              Addison-Brown 2022-03-01 00:53:02    T        420
694561           41460             31600          Irving Park-Brown 2022-03-01 00:54:21    T        420
699512           41500             31620             Montrose-Brown 2022-03-01 00:55:41    T        420
633753           40090             31640                Damen-Brown 2022-03-01 00:57:01    T        420
697149           41480             31660              Western-Brown 2022-03-01 00:58:21    T        420
681031           41010             31680                   Rockwell 2022-03-01 00:59:42    T        420
679064           40870             31700                  Francisco 2022-03-01 01:01:01    T        420
681705           41180             31720               Kedzie-Brown 2022-03-01 01:02:21    T        420
687302           41290             31735                    Kimball 2022-03-01 01:03:01    T        420
739184           41180             35040               Kedzie-Brown 2022-03-01 13:17:01    T        420
734543           40870             35060                  Francisco 2022-03-01 13:19:21    T        420
736951           41010             35080                   Rockwell 2022-03-01 13:21:01    T        420
754237           41480             35100              Western-Brown 2022-03-01 13:22:21    T        420
702732           40090             35120                Damen-Brown 2022-03-01 13:23:41    T        420
756098           41500             35140             Montrose-Brown 2022-03-01 13:25:02    T        420
750906           41460             35160          Irving Park-Brown 2022-03-01 13:27:01    T        420
749445           41440             35180              Addison-Brown 2022-03-01 13:29:22    T        420
745529           41310             35200                    Paulina 2022-03-01 13:31:21    T        420
705636           40360             35220                  Southport 2022-03-01 13:32:21    T        420
747293           41320             35280                    Belmont 2022-03-01 13:35:21    T        420
715376           40530             35320                   Diversey 2022-03-01 13:38:21    T        420
416994           41220             35340                  Fullerton 2022-03-01 13:40:01    T        420
716442           40660             35360                   Armitage 2022-03-01 13:42:01    T        420
727960           40800             35363                   Sedgwick 2022-03-01 13:42:42    T        420
723730           40710             35382              Chicago-Brown 2022-03-01 13:47:01    T        420
379390           40460             35414           Merchandise Mart 2022-03-01 13:51:22    T        420
365923           40380             35430      Clark/Lake (Elevated) 2022-03-01 13:53:41    T        420
632619           40040             31080                     Quincy 2022-03-01 13:56:01    T        420
636080           40160             31100          LaSalle/Van Buren 2022-03-01 13:57:42    T        420
677485           40850             31120  Harold Washington Library 2022-03-01 13:58:21    T        420
661386           40680             31180               Adams/Wabash 2022-03-01 14:00:01    T        420
130761           40260             31240                 State/Lake 2022-03-01 14:02:21    T        420
642276           40380             31260      Clark/Lake (Elevated) 2022-03-01 14:03:01    T        420
295680           40460             31291           Merchandise Mart 2022-03-01 14:03:42    T        420
317673           40710             31345              Chicago-Brown 2022-03-01 14:05:41    T        420
671291           40800             31363                   Sedgwick 2022-03-01 14:07:41    T        420
308859           40660             31383                   Armitage 2022-03-01 14:11:21    T        420
684269           41220             31420                  Fullerton 2022-03-01 14:16:01    T        420
300034           40530             31438                   Diversey 2022-03-01 14:18:42    T        420
690069           41320             31475                    Belmont 2022-03-01 14:22:01    T        420
640251           40360             31540                  Southport 2022-03-01 14:25:01    T        420
688093           41310             31560                    Paulina 2022-03-01 14:26:01    T        420
691920           41440             31580              Addison-Brown 2022-03-01 14:27:21    T        420
694701           41460             31600          Irving Park-Brown 2022-03-01 14:28:42    T        420
699665           41500             31620             Montrose-Brown 2022-03-01 14:30:01    T        420
633880           40090             31640                Damen-Brown 2022-03-01 14:31:21    T        420
697277           41480             31660              Western-Brown 2022-03-01 14:32:41    T        420
681070           41010             31680                   Rockwell 2022-03-01 14:33:41    T        420
679174           40870             31700                  Francisco 2022-03-01 14:35:01    T        420
681807           41180             31720               Kedzie-Brown 2022-03-01 14:36:21    T        420
744895           41290             35020                    Kimball 2022-03-01 14:45:21    T        420
739234           41180             35040               Kedzie-Brown 2022-03-01 14:46:21    T        420
734587           40870             35060                  Francisco 2022-03-01 14:47:21    T        420
736990           41010             35080                   Rockwell 2022-03-01 14:49:01    T        420
754268           41480             35100              Western-Brown 2022-03-01 14:50:21    T        420
702780           40090             35120                Damen-Brown 2022-03-01 14:51:41    T        420
756135           41500             35140             Montrose-Brown 2022-03-01 14:52:41    T        420
750964           41460             35160          Irving Park-Brown 2022-03-01 14:54:41    T        420
745564           41310             35200                    Paulina 2022-03-01 14:58:21    T        420
705670           40360             35220                  Southport 2022-03-01 14:59:21    T        420
747341           41320             35280                    Belmont 2022-03-01 15:02:01    T        420
742387           41220             35340                  Fullerton 2022-03-01 15:05:21    T        420
382186           40660             35360                   Armitage 2022-03-01 15:08:01    T        420
403395           40800             35374                   Sedgwick 2022-03-01 15:10:21    T        420
392026           40710             35382              Chicago-Brown 2022-03-01 15:12:22    T        420
714831           40460             35405           Merchandise Mart 2022-03-01 15:15:41    T        420
365987           40380             35430      Clark/Lake (Elevated) 2022-03-01 15:18:01    T        420
669682           40730             31060           Washington/Wells 2022-03-01 15:20:01    T        420
632639           40040             31080                     Quincy 2022-03-01 15:21:01    T        420
636106           40160             31100          LaSalle/Van Buren 2022-03-01 15:22:22    T        420
677515           40850             31120  Harold Washington Library 2022-03-01 15:23:01    T        420
661423           40680             31180               Adams/Wabash 2022-03-01 15:26:21    T        420
637627           40260             31240                 State/Lake 2022-03-01 15:30:01    T        420
136329           40380             31260      Clark/Lake (Elevated) 2022-03-01 15:31:21    T        420
295738           40460             31291           Merchandise Mart 2022-03-01 15:34:41    T        420
317708           40710             31345              Chicago-Brown 2022-03-01 15:36:22    T        420
671323           40800             31363                   Sedgwick 2022-03-01 15:38:21    T        420
308872           40660             31383                   Armitage 2022-03-01 15:41:41    T        420
340235           41220             31420                  Fullerton 2022-03-01 15:46:21    T        420
650455           40530             31438                   Diversey 2022-03-01 15:48:41    T        420
683708           41210             31455                 Wellington 2022-03-01 15:50:42    T        420
640285           40360             31540                  Southport 2022-03-01 15:55:22    T        420
688126           41310             31560                    Paulina 2022-03-01 15:56:41    T        420
691967           41440             31580              Addison-Brown 2022-03-01 15:58:42    T        420
694745           41460             31600          Irving Park-Brown 2022-03-01 15:59:41    T        420
699712           41500             31620             Montrose-Brown 2022-03-01 16:01:22    T        420
633915           40090             31640                Damen-Brown 2022-03-01 16:02:42    T        420
697319           41480             31660              Western-Brown 2022-03-01 16:03:42    T        420
679207           40870             31700                  Francisco 2022-03-01 16:06:01    T        420
681864           41180             31720               Kedzie-Brown 2022-03-01 16:07:21    T        420
687355           41290             31735                    Kimball 2022-03-01 16:08:01    T        420
739336           41180             35040               Kedzie-Brown 2022-03-01 20:26:21    T        420
734689           40870             35060                  Francisco 2022-03-01 20:28:01    T        420
737076           41010             35080                   Rockwell 2022-03-01 20:29:21    T        420
754363           41480             35100              Western-Brown 2022-03-01 20:30:41    T        420
702904           40090             35120                Damen-Brown 2022-03-01 20:32:01    T        420
756236           41500             35140             Montrose-Brown 2022-03-01 20:33:21    T        420
751105           41460             35160          Irving Park-Brown 2022-03-01 20:35:41    T        420
749525           41440             35180              Addison-Brown 2022-03-01 20:37:41    T        420
745641           41310             35200                    Paulina 2022-03-01 20:39:42    T        420
705781           40360             35220                  Southport 2022-03-01 20:40:42    T        420
747431           41320             35280                    Belmont 2022-03-01 20:43:21    T        420
416279           41210             35300                 Wellington 2022-03-01 20:44:21    T        420
381126           40530             35320                   Diversey 2022-03-01 20:45:21    T        420
742506           41220             35340                  Fullerton 2022-03-01 20:47:01    T        420
382282           40660             35360                   Armitage 2022-03-01 20:48:21    T        420
728014           40800             35363                   Sedgwick 2022-03-01 20:49:01    T        420
392075           40710             35382              Chicago-Brown 2022-03-01 20:53:01    T        420
372940           40460             35405           Merchandise Mart 2022-03-01 20:56:01    T        420
636175           40160             31100          LaSalle/Van Buren 2022-03-01 21:01:41    T        420
677608           40850             31120  Harold Washington Library 2022-03-01 21:02:21    T        420
150751           40680             31180               Adams/Wabash 2022-03-01 21:05:01    T        420
130927           40260             31240                 State/Lake 2022-03-01 21:07:41    T        420
642475           40380             31260      Clark/Lake (Elevated) 2022-03-01 21:08:21    T        420
645543           40460             31291           Merchandise Mart 2022-03-01 21:09:21    T        420
666658           40710             31345              Chicago-Brown 2022-03-01 21:11:01    T        420
671379           40800             31363                   Sedgwick 2022-03-01 21:13:21    T        420
308911           40660             31383                   Armitage 2022-03-01 21:16:41    T        420
340395           41220             31420                  Fullerton 2022-03-01 21:21:21    T        420
650517           40530             31438                   Diversey 2022-03-01 21:23:21    T        420
690092           41320             31475                    Belmont 2022-03-01 21:26:01    T        420
640367           40360             31540                  Southport 2022-03-01 21:29:22    T        420
688192           41310             31560                    Paulina 2022-03-01 21:30:22    T        420
692090           41440             31580              Addison-Brown 2022-03-01 21:31:41    T        420
694867           41460             31600          Irving Park-Brown 2022-03-01 21:33:01    T        420
699822           41500             31620             Montrose-Brown 2022-03-01 21:34:21    T        420
634002           40090             31640                Damen-Brown 2022-03-01 21:35:41    T        420
697411           41480             31660              Western-Brown 2022-03-01 21:36:47    T        420
681114           41010             31680                   Rockwell 2022-03-01 21:38:01    T        420
679289           40870             31700                  Francisco 2022-03-01 21:39:21    T        420
681960           41180             31720               Kedzie-Brown 2022-03-01 21:40:41    T        420
687383           41290             31735                    Kimball 2022-03-01 21:41:01    T        420
739379           41180             35040               Kedzie-Brown 2022-03-01 22:06:21    T        420
734729           40870             35060                  Francisco 2022-03-01 22:07:41    T        420
737115           41010             35080                   Rockwell 2022-03-01 22:09:01    T        420
751160           41460             35160          Irving Park-Brown 2022-03-01 22:10:22    T        420
749547           41440             35180              Addison-Brown 2022-03-01 22:12:01    T        420
745666           41310             35200                    Paulina 2022-03-01 22:14:01    T        420
705810           40360             35220                  Southport 2022-03-01 22:15:01    T        420
747464           41320             35280                    Belmont 2022-03-01 22:17:21    T        420
381148           40530             35320                   Diversey 2022-03-01 22:19:41    T        420
417228           41220             35340                  Fullerton 2022-03-01 22:21:01    T        420
716635           40660             35360                   Armitage 2022-03-01 22:22:22    T        420
728031           40800             35363                   Sedgwick 2022-03-01 22:23:21    T        420
723827           40710             35382              Chicago-Brown 2022-03-01 22:27:21    T        420
372954           40460             35405           Merchandise Mart 2022-03-01 22:30:41    T        420
366127           40380             35430      Clark/Lake (Elevated) 2022-03-01 22:32:43    T        420
669705           40730             31060           Washington/Wells 2022-03-01 22:33:41    T        420
636194           40160             31100          LaSalle/Van Buren 2022-03-01 22:36:01    T        420
677635           40850             31120  Harold Washington Library 2022-03-01 22:37:21    T        420
661584           40680             31180               Adams/Wabash 2022-03-01 22:41:21    T        420
637786           40260             31240                 State/Lake 2022-03-01 22:43:41    T        420
136523           40380             31260      Clark/Lake (Elevated) 2022-03-01 22:44:41    T        420
645592           40460             31291           Merchandise Mart 2022-03-01 22:45:41    T        420
317790           40710             31345              Chicago-Brown 2022-03-01 22:47:42    T        420
671405           40800             31363                   Sedgwick 2022-03-01 22:50:01    T        420
652905           40660             31387                   Armitage 2022-03-01 22:53:42    T        420
502578           41220             31420                  Fullerton 2022-03-01 22:58:02    T        420
300151           40530             31438                   Diversey 2022-03-01 22:59:42    T        420
683731           41210             31455                 Wellington 2022-03-01 23:02:41    T        420
690100           41320             31475                    Belmont 2022-03-01 23:03:41    T        420
640395           40360             31540                  Southport 2022-03-01 23:08:01    T        420
688228           41310             31560                    Paulina 2022-03-01 23:09:02    T        420
692134           41440             31580              Addison-Brown 2022-03-01 23:10:21    T        420
694914           41460             31600          Irving Park-Brown 2022-03-01 23:11:42    T        420

In [84]:
run420[run420.parent_station.shift()!=run420.parent_station].query('parent_station == (40460, 41180) and CurrentStationId > 35000').Datetime.diff().iloc[2::2]
# get differences and filter out initial (long break) and times it took to go back

379390   0 days 00:34:21
714831   0 days 00:29:20
372940   0 days 00:29:40
372954   0 days 00:24:20
372964   0 days 00:29:21
Name: Datetime, dtype: timedelta64[ns]

In [85]:
run420[run420.parent_station.shift()!=run420.parent_station].query('parent_station == (40460, 41180) and CurrentStationId < 35000').Datetime.diff().iloc[1::2]
#check the same stations as above, but going in the opposite direction, same run

681705   0 days 00:32:20
681807   0 days 00:32:39
681864   0 days 00:32:40
681960   0 days 00:31:20
681988   0 days 00:34:00
682035   0 days 00:35:40
Name: Datetime, dtype: timedelta64[ns]

In [86]:
run428= PS_to_CS_df.query('Line == "T" and Datetime < "2022-03-02 12:00:00" and RunNumber == 428').sort_values('Datetime')
print(run428[run428.parent_station.shift()!=run428.parent_station].to_string())

        parent_station  CurrentStationId                  stop_name            Datetime Line  RunNumber
666478           40710             31345              Chicago-Brown 2022-03-01 00:00:01    T        428
321213           40800             31363                   Sedgwick 2022-03-01 00:06:42    T        428
651693           40660             31382                   Armitage 2022-03-01 00:10:01    T        428
339968           41220             31420                  Fullerton 2022-03-01 00:15:21    T        428
650341           40530             31438                   Diversey 2022-03-01 00:17:22    T        428
640144           40360             31540                  Southport 2022-03-01 00:23:21    T        428
687956           41310             31560                    Paulina 2022-03-01 00:24:41    T        428
691742           41440             31580              Addison-Brown 2022-03-01 00:26:01    T        428
694553           41460             31600          Irving Park-Brown 2022-03-01 00:27:21    T        428
699503           41500             31620             Montrose-Brown 2022-03-01 00:29:01    T        428
633745           40090             31640                Damen-Brown 2022-03-01 00:30:22    T        428
697142           41480             31660              Western-Brown 2022-03-01 00:31:41    T        428
681029           41010             31680                   Rockwell 2022-03-01 00:33:01    T        428
679058           40870             31700                  Francisco 2022-03-01 00:34:21    T        428
681699           41180             31720               Kedzie-Brown 2022-03-01 00:35:41    T        428
687299           41290             31735                    Kimball 2022-03-01 00:36:41    T        428
739069           41180             35040               Kedzie-Brown 2022-03-01 01:21:21    T        428
734432           40870             35060                  Francisco 2022-03-01 01:22:42    T        428
736852           41010             35080                   Rockwell 2022-03-01 01:24:01    T        428
754159           41480             35100              Western-Brown 2022-03-01 01:25:21    T        428
702599           40090             35120                Damen-Brown 2022-03-01 01:26:21    T        428
755990           41500             35140             Montrose-Brown 2022-03-01 01:27:41    T        428
750753           41460             35160          Irving Park-Brown 2022-03-01 01:29:41    T        428
749388           41440             35180              Addison-Brown 2022-03-01 01:31:41    T        428
745446           41310             35200                    Paulina 2022-03-01 01:33:21    T        428
705554           40360             35220                  Southport 2022-03-01 01:34:21    T        428
747199           41320             35280                    Belmont 2022-03-01 01:37:01    T        428
416234           41210             35300                 Wellington 2022-03-01 01:38:01    T        428
381024           40530             35320                   Diversey 2022-03-01 01:39:01    T        428
416883           41220             35340                  Fullerton 2022-03-01 01:40:41    T        428
716352           40660             35360                   Armitage 2022-03-01 01:42:01    T        428
732312           40800             35374                   Sedgwick 2022-03-01 01:44:41    T        428
723678           40710             35382              Chicago-Brown 2022-03-01 01:46:22    T        428
714800           40460             35405           Merchandise Mart 2022-03-01 01:49:42    T        428
365828           40380             35430      Clark/Lake (Elevated) 2022-03-01 01:52:01    T        428
632570           40040             31080                     Quincy 2022-03-01 01:54:01    T        428
636015           40160             31100          LaSalle/Van Buren 2022-03-01 01:55:21    T        428
677413           40850             31120  Harold Washington Library 2022-03-01 01:56:01    T        428
661254           40680             31180               Adams/Wabash 2022-03-01 01:58:21    T        428
637450           40260             31240                 State/Lake 2022-03-01 02:01:22    T        428
642111           40380             31260      Clark/Lake (Elevated) 2022-03-01 02:02:01    T        428
645292           40460             31291           Merchandise Mart 2022-03-01 02:03:01    T        428
317608           40710             31345              Chicago-Brown 2022-03-01 02:04:41    T        428
671239           40800             31363                   Sedgwick 2022-03-01 02:07:01    T        428
652113           40660             31383                   Armitage 2022-03-01 02:10:21    T        428
684128           41220             31420                  Fullerton 2022-03-01 02:15:01    T        428
650363           40530             31438                   Diversey 2022-03-01 02:17:01    T        428
690052           41320             31475                    Belmont 2022-03-01 02:19:22    T        428
640169           40360             31540                  Southport 2022-03-01 02:22:21    T        428
687985           41310             31560                    Paulina 2022-03-01 02:23:42    T        428
691778           41440             31580              Addison-Brown 2022-03-01 02:24:42    T        428
694585           41460             31600          Irving Park-Brown 2022-03-01 02:26:01    T        428
699537           41500             31620             Montrose-Brown 2022-03-01 02:27:21    T        428
633776           40090             31640                Damen-Brown 2022-03-01 02:28:23    T        428
697171           41480             31660              Western-Brown 2022-03-01 02:30:01    T        428
681037           41010             31680                   Rockwell 2022-03-01 02:31:01    T        428
679085           40870             31700                  Francisco 2022-03-01 02:32:21    T        428
681723           41180             31720               Kedzie-Brown 2022-03-01 02:33:41    T        428
687311           41290             31735                    Kimball 2022-03-01 02:34:21    T        428
739090           41180             35040               Kedzie-Brown 2022-03-01 03:01:21    T        428
734452           40870             35060                  Francisco 2022-03-01 03:02:41    T        428
736869           41010             35080                   Rockwell 2022-03-01 03:04:21    T        428
754170           41480             35100              Western-Brown 2022-03-01 03:05:42    T        428
702622           40090             35120                Damen-Brown 2022-03-01 03:07:01    T        428
756010           41500             35140             Montrose-Brown 2022-03-01 03:08:21    T        428
750778           41460             35160          Irving Park-Brown 2022-03-01 03:10:22    T        428
749398           41440             35180              Addison-Brown 2022-03-01 03:12:21    T        428
745461           41310             35200                    Paulina 2022-03-01 03:14:22    T        428
705568           40360             35220                  Southport 2022-03-01 03:15:21    T        428
747213           41320             35280                    Belmont 2022-03-01 03:18:21    T        428
381031           40530             35320                   Diversey 2022-03-01 03:20:21    T        428
416896           41220             35340                  Fullerton 2022-03-01 03:22:01    T        428
382060           40660             35360                   Armitage 2022-03-01 03:23:41    T        428
727931           40800             35363                   Sedgwick 2022-03-01 03:24:41    T        428
723685           40710             35382              Chicago-Brown 2022-03-01 03:28:21    T        428
711772           40460             35414           Merchandise Mart 2022-03-01 03:32:01    T        428
632579           40040             31080                     Quincy 2022-03-01 03:36:01    T        428
636026           40160             31100          LaSalle/Van Buren 2022-03-01 03:37:42    T        428
677424           40850             31120  Harold Washington Library 2022-03-01 03:38:22    T        428
150480           40680             31180               Adams/Wabash 2022-03-01 03:40:22    T        428
637475           40260             31240                 State/Lake 2022-03-01 03:43:01    T        428
136135           40380             31260      Clark/Lake (Elevated) 2022-03-01 03:44:01    T        428
645306           40460             31291           Merchandise Mart 2022-03-01 03:45:21    T        428
317617           40710             31345              Chicago-Brown 2022-03-01 03:47:01    T        428
321242           40800             31363                   Sedgwick 2022-03-01 03:49:21    T        428
651697           40660             31382                   Armitage 2022-03-01 03:52:42    T        428
684147           41220             31420                  Fullerton 2022-03-01 03:57:42    T        428
299978           40530             31438                   Diversey 2022-03-01 03:59:42    T        428
640184           40360             31540                  Southport 2022-03-01 04:06:01    T        428
688003           41310             31560                    Paulina 2022-03-01 04:07:21    T        428
691805           41440             31580              Addison-Brown 2022-03-01 04:08:21    T        428
694611           41460             31600          Irving Park-Brown 2022-03-01 04:10:01    T        428
699563           41500             31620             Montrose-Brown 2022-03-01 04:11:22    T        428
633793           40090             31640                Damen-Brown 2022-03-01 04:13:01    T        428
697194           41480             31660              Western-Brown 2022-03-01 04:14:21    T        428
679100           40870             31700                  Francisco 2022-03-01 04:17:21    T        428
681738           41180             31720               Kedzie-Brown 2022-03-01 04:18:41    T        428
687317           41290             31735                    Kimball 2022-03-01 04:19:41    T        428
739117           41180             35040               Kedzie-Brown 2022-03-01 04:45:22    T        428
734479           40870             35060                  Francisco 2022-03-01 04:46:41    T        428
736890           41010             35080                   Rockwell 2022-03-01 04:48:21    T        428
754192           41480             35100              Western-Brown 2022-03-01 04:49:41    T        428
702656           40090             35120                Damen-Brown 2022-03-01 04:51:01    T        428
756037           41500             35140             Montrose-Brown 2022-03-01 04:52:41    T        428
750815           41460             35160          Irving Park-Brown 2022-03-01 04:54:41    T        428
749414           41440             35180              Addison-Brown 2022-03-01 04:56:41    T        428
745481           41310             35200                    Paulina 2022-03-01 04:58:41    T        428
705590           40360             35220                  Southport 2022-03-01 04:59:41    T        428
747236           41320             35280                    Belmont 2022-03-01 05:02:42    T        428
715346           40530             35320                   Diversey 2022-03-01 05:04:41    T        428
416919           41220             35340                  Fullerton 2022-03-01 05:06:21    T        428
382080           40660             35360                   Armitage 2022-03-01 05:08:01    T        428
402279           40800             35363                   Sedgwick 2022-03-01 05:09:01    T        428
723695           40710             35382              Chicago-Brown 2022-03-01 05:13:01    T        428
379338           40460             35414           Merchandise Mart 2022-03-01 05:16:42    T        428
365846           40380             35430      Clark/Lake (Elevated) 2022-03-01 05:18:41    T        428
669660           40730             31060           Washington/Wells 2022-03-01 05:19:21    T        428
632591           40040             31080                     Quincy 2022-03-01 05:20:21    T        428
636040           40160             31100          LaSalle/Van Buren 2022-03-01 05:22:01    T        428
677443           40850             31120  Harold Washington Library 2022-03-01 05:22:41    T        428
150510           40680             31180               Adams/Wabash 2022-03-01 05:24:21    T        428
130685           40260             31240                 State/Lake 2022-03-01 05:27:01    T        428
136175           40380             31260      Clark/Lake (Elevated) 2022-03-01 05:28:01    T        428
295613           40460             31291           Merchandise Mart 2022-03-01 05:29:01    T        428
666525           40710             31345              Chicago-Brown 2022-03-01 05:31:02    T        428
671256           40800             31363                   Sedgwick 2022-03-01 05:33:01    T        428
652771           40660             31387                   Armitage 2022-03-01 05:37:21    T        428
502180           41220             31420                  Fullerton 2022-03-01 05:41:21    T        428
299991           40530             31438                   Diversey 2022-03-01 05:43:41    T        428
339582           41210             31455                 Wellington 2022-03-01 05:45:21    T        428
690058           41320             31475                    Belmont 2022-03-01 05:46:21    T        428
640204           40360             31540                  Southport 2022-03-01 05:49:41    T        428
688025           41310             31560                    Paulina 2022-03-01 05:51:01    T        428
691838           41440             31580              Addison-Brown 2022-03-01 05:52:21    T        428
694638           41460             31600          Irving Park-Brown 2022-03-01 05:53:41    T        428
699591           41500             31620             Montrose-Brown 2022-03-01 05:55:01    T        428
633817           40090             31640                Damen-Brown 2022-03-01 05:56:41    T        428
697220           41480             31660              Western-Brown 2022-03-01 05:58:01    T        428
681051           41010             31680                   Rockwell 2022-03-01 05:59:21    T        428
679122           40870             31700                  Francisco 2022-03-01 06:00:41    T        428
681761           41180             31720               Kedzie-Brown 2022-03-01 06:02:21    T        428
687326           41290             31735                    Kimball 2022-03-01 06:03:01    T        428
739365           41180             35040               Kedzie-Brown 2022-03-01 21:38:01    T        428
734714           40870             35060                  Francisco 2022-03-01 21:39:41    T        428
737103           41010             35080                   Rockwell 2022-03-01 21:41:01    T        428
754382           41480             35100              Western-Brown 2022-03-01 21:42:42    T        428
702938           40090             35120                Damen-Brown 2022-03-01 21:44:01    T        428
756260           41500             35140             Montrose-Brown 2022-03-01 21:45:21    T        428
751145           41460             35160          Irving Park-Brown 2022-03-01 21:47:21    T        428
749540           41440             35180              Addison-Brown 2022-03-01 21:49:21    T        428
745658           41310             35200                    Paulina 2022-03-01 21:51:42    T        428
705802           40360             35220                  Southport 2022-03-01 21:52:41    T        428
747454           41320             35280                    Belmont 2022-03-01 21:55:21    T        428
741617           41210             35300                 Wellington 2022-03-01 21:56:42    T        428
715447           40530             35320                   Diversey 2022-03-01 21:57:41    T        428
742544           41220             35340                  Fullerton 2022-03-01 21:59:41    T        428
382316           40660             35360                   Armitage 2022-03-01 22:01:01    T        428
728026           40800             35363                   Sedgwick 2022-03-01 22:02:01    T        428
396248           40710             35384              Chicago-Brown 2022-03-01 22:05:42    T        428
379513           40460             35414           Merchandise Mart 2022-03-01 22:09:21    T        428
632707           40040             31080                     Quincy 2022-03-01 22:13:41    T        428
636189           40160             31100          LaSalle/Van Buren 2022-03-01 22:15:01    T        428
677628           40850             31120  Harold Washington Library 2022-03-01 22:16:01    T        428
661572           40680             31180               Adams/Wabash 2022-03-01 22:18:21    T        428
637772           40260             31240                 State/Lake 2022-03-01 22:21:01    T        428
642511           40380             31260      Clark/Lake (Elevated) 2022-03-01 22:22:02    T        428
645578           40460             31291           Merchandise Mart 2022-03-01 22:23:41    T        428
666676           40710             31345              Chicago-Brown 2022-03-01 22:26:21    T        428
671399           40800             31363                   Sedgwick 2022-03-01 22:29:01    T        428
652899           40660             31387                   Armitage 2022-03-01 22:32:43    T        428
502559           41220             31420                  Fullerton 2022-03-01 22:37:41    T        428
300145           40530             31438                   Diversey 2022-03-01 22:39:41    T        428
640387           40360             31540                  Southport 2022-03-01 22:45:41    T        428
688219           41310             31560                    Paulina 2022-03-01 22:47:01    T        428
692123           41440             31580              Addison-Brown 2022-03-01 22:48:21    T        428
694901           41460             31600          Irving Park-Brown 2022-03-01 22:49:41    T        428
699853           41500             31620             Montrose-Brown 2022-03-01 22:51:01    T        428
634025           40090             31640                Damen-Brown 2022-03-01 22:52:41    T        428
697433           41480             31660              Western-Brown 2022-03-01 22:53:42    T        428
679311           40870             31700                  Francisco 2022-03-01 22:56:41    T        428
681979           41180             31720               Kedzie-Brown 2022-03-01 22:58:02    T        428
734768           40870             35060                  Francisco 2022-03-01 23:25:01    T        428
737145           41010             35080                   Rockwell 2022-03-01 23:26:21    T        428
754414           41480             35100              Western-Brown 2022-03-01 23:27:41    T        428
745690           41310             35200                    Paulina 2022-03-01 23:29:21    T        428
705838           40360             35220                  Southport 2022-03-01 23:30:21    T        428
747507           41320             35280                    Belmont 2022-03-01 23:33:01    T        428
741628           41210             35300                 Wellington 2022-03-01 23:34:01    T        428
417277           41220             35340                  Fullerton 2022-03-01 23:36:42    T        428
716676           40660             35360                   Armitage 2022-03-01 23:38:21    T        428
732621           40800             35374                   Sedgwick 2022-03-01 23:41:01    T        428

In [87]:
run428[run428.parent_station.shift()!=run428.parent_station].query('parent_station == (40460, 41180) and CurrentStationId > 35000').Datetime.diff().iloc[1::]

714800   0 days 00:28:21
739090   0 days 01:11:39
711772   0 days 00:30:40
739117   0 days 01:13:21
379338   0 days 00:31:20
739365   0 days 16:21:19
379513   0 days 00:31:20
714876   0 days 01:37:00
739455   0 days 01:36:40
712032   0 days 00:33:20
739483   0 days 01:05:00
714888   0 days 00:30:00
739512   0 days 01:09:40
712062   0 days 00:30:40
Name: Datetime, dtype: timedelta64[ns]

In [88]:
### Predictions

In [89]:
import pandas as pd
pdf = pd.read_parquet('2022-03-preds-start.parquet')
print(pdf.query('RunNumber == 420 and Datetime < "2022-03-01 12:00:00"').to_string())

      Line            Datetime  CurrentStationId  RunNumber  StopOrder  ParentStop                                   StopName Prediction
436      T 2022-03-01 00:00:01             35200        420          0       40360                                  Southport        Due
437      T 2022-03-01 00:00:01             35200        420          1       41320                                    Belmont          4
438      T 2022-03-01 00:00:01             35200        420          2       41210                                 Wellington          5
439      T 2022-03-01 00:00:01             35200        420          3       40530                                   Diversey          6
440      T 2022-03-01 00:00:01             35200        420          4       41220                                  Fullerton          8
441      T 2022-03-01 00:00:01             35200        420          5       40660                                   Armitage         10
442      T 2022-03-01 00:00:01             35200        420          6       40800                                   Sedgwick         14
443      T 2022-03-01 00:00:01             35200        420          7       40710                                    Chicago         17
444      T 2022-03-01 00:00:01             35200        420          8       40460                           Merchandise Mart         19
1180     T 2022-03-01 00:00:41             35201        420          0       40360                                  Southport        Due
1181     T 2022-03-01 00:00:41             35201        420          1       41320                                    Belmont          3
1182     T 2022-03-01 00:00:41             35201        420          2       41210                                 Wellington          4
1183     T 2022-03-01 00:00:41             35201        420          3       40530                                   Diversey          6
1184     T 2022-03-01 00:00:41             35201        420          4       41220                                  Fullerton          7
1185     T 2022-03-01 00:00:41             35201        420          5       40660                                   Armitage          9
1186     T 2022-03-01 00:00:41             35201        420          6       40800                                   Sedgwick         13
1187     T 2022-03-01 00:00:41             35201        420          7       40710                                    Chicago         16
1188     T 2022-03-01 00:00:41             35201        420          8       40460                           Merchandise Mart         18
1473     T 2022-03-01 00:01:02             35220        420          0       41320                                    Belmont          3
1474     T 2022-03-01 00:01:02             35220        420          1       41210                                 Wellington          4
1475     T 2022-03-01 00:01:02             35220        420          2       40530                                   Diversey          5
1476     T 2022-03-01 00:01:02             35220        420          3       41220                                  Fullerton          7
1477     T 2022-03-01 00:01:02             35220        420          4       40660                                   Armitage          9
1478     T 2022-03-01 00:01:02             35220        420          5       40800                                   Sedgwick         13
1479     T 2022-03-01 00:01:02             35220        420          6       40710                                    Chicago         16
1480     T 2022-03-01 00:01:02             35220        420          7       40460                           Merchandise Mart         18
2280     T 2022-03-01 00:01:42             35221        420          0       41320                                    Belmont          2
2281     T 2022-03-01 00:01:42             35221        420          1       41210                                 Wellington          3
2282     T 2022-03-01 00:01:42             35221        420          2       40530                                   Diversey          4
2283     T 2022-03-01 00:01:42             35221        420          3       41220                                  Fullerton          6
2284     T 2022-03-01 00:01:42             35221        420          4       40660                                   Armitage          8
2285     T 2022-03-01 00:01:42             35221        420          5       40800                                   Sedgwick         12
2286     T 2022-03-01 00:01:42             35221        420          6       40710                                    Chicago         15
2287     T 2022-03-01 00:01:42             35221        420          7       40460                           Merchandise Mart         17
2597     T 2022-03-01 00:02:01             35230        420          0       41320                                    Belmont          2
2598     T 2022-03-01 00:02:01             35230        420          1       41210                                 Wellington          3
2599     T 2022-03-01 00:02:01             35230        420          2       40530                                   Diversey          4
2600     T 2022-03-01 00:02:01             35230        420          3       41220                                  Fullerton          6
2601     T 2022-03-01 00:02:01             35230        420          4       40660                                   Armitage          8
2602     T 2022-03-01 00:02:01             35230        420          5       40800                                   Sedgwick         12
2603     T 2022-03-01 00:02:01             35230        420          6       40710                                    Chicago         15
2604     T 2022-03-01 00:02:01             35230        420          7       40460                           Merchandise Mart         17
2937     T 2022-03-01 00:02:22             35238        420          0       41320                                    Belmont          2
2938     T 2022-03-01 00:02:22             35238        420          1       41210                                 Wellington          3
2939     T 2022-03-01 00:02:22             35238        420          2       40530                                   Diversey          4
2940     T 2022-03-01 00:02:22             35238        420          3       41220                                  Fullerton          6
2941     T 2022-03-01 00:02:22             35238        420          4       40660                                   Armitage          7
2942     T 2022-03-01 00:02:22             35238        420          5       40800                                   Sedgwick         11
2943     T 2022-03-01 00:02:22             35238        420          6       40710                                    Chicago         15
2944     T 2022-03-01 00:02:22             35238        420          7       40460                           Merchandise Mart         17
2945     T 2022-03-01 00:02:22             35238        420          8       40730                           Washington/Wells         19
3343     T 2022-03-01 00:02:42             35240        420          0       41320                                    Belmont        Due
3344     T 2022-03-01 00:02:42             35240        420          1       41210                                 Wellington          2
3345     T 2022-03-01 00:02:42             35240        420          2       40530                                   Diversey          4
3346     T 2022-03-01 00:02:42             35240        420          3       41220                                  Fullerton          5
3347     T 2022-03-01 00:02:42             35240        420          4       40660                                   Armitage          7
3348     T 2022-03-01 00:02:42             35240        420          5       40800                                   Sedgwick         11
3349     T 2022-03-01 00:02:42             35240        420          6       40710                                    Chicago         14
3350     T 2022-03-01 00:02:42             35240        420          7       40460                           Merchandise Mart         16
3351     T 2022-03-01 00:02:42             35240        420          8       40730                           Washington/Wells         19
3671     T 2022-03-01 00:03:01             35260        420          0       41320                                    Belmont        Due
3672     T 2022-03-01 00:03:01             35260        420          1       41210                                 Wellington          2
3673     T 2022-03-01 00:03:01             35260        420          2       40530                                   Diversey          3
3674     T 2022-03-01 00:03:01             35260        420          3       41220                                  Fullerton          5
3675     T 2022-03-01 00:03:01             35260        420          4       40660                                   Armitage          7
3676     T 2022-03-01 00:03:01             35260        420          5       40800                                   Sedgwick         10
3677     T 2022-03-01 00:03:01             35260        420          6       40710                                    Chicago         14
3678     T 2022-03-01 00:03:01             35260        420          7       40460                           Merchandise Mart         16
3679     T 2022-03-01 00:03:01             35260        420          8       40730                           Washington/Wells         19
3996     T 2022-03-01 00:03:21             35270        420          0       41320                                    Belmont        Due
3997     T 2022-03-01 00:03:21             35270        420          1       40530                                   Diversey          2
3998     T 2022-03-01 00:03:21             35270        420          2       41210                                 Wellington          2
3999     T 2022-03-01 00:03:21             35270        420          3       41220                                  Fullerton          4
4000     T 2022-03-01 00:03:21             35270        420          4       40660                                   Armitage          6
4001     T 2022-03-01 00:03:21             35270        420          5       40800                                   Sedgwick         10
4002     T 2022-03-01 00:03:21             35270        420          6       40710                                    Chicago         13
4003     T 2022-03-01 00:03:21             35270        420          7       40460                           Merchandise Mart         15
4004     T 2022-03-01 00:03:21             35270        420          8       40730                           Washington/Wells         18
4005     T 2022-03-01 00:03:21             35270        420          9       40040                                     Quincy         19
4341     T 2022-03-01 00:03:41             35275        420          0       41210                                 Wellington        Due
4342     T 2022-03-01 00:03:41             35275        420          1       41320                                    Belmont        Due
4343     T 2022-03-01 00:03:41             35275        420          2       40530                                   Diversey          2
4344     T 2022-03-01 00:03:41             35275        420          3       41220                                  Fullerton          4
4345     T 2022-03-01 00:03:41             35275        420          4       40660                                   Armitage          6
4346     T 2022-03-01 00:03:41             35275        420          5       40800                                   Sedgwick         10
4347     T 2022-03-01 00:03:41             35275        420          6       40710                                    Chicago         13
4348     T 2022-03-01 00:03:41             35275        420          7       40460                           Merchandise Mart         15
4349     T 2022-03-01 00:03:41             35275        420          8       40730                           Washington/Wells         18
4350     T 2022-03-01 00:03:41             35275        420          9       40040                                     Quincy         19
4679     T 2022-03-01 00:04:01             35280        420          0       41210                                 Wellington        Due
4680     T 2022-03-01 00:04:01             35280        420          1       40530                                   Diversey          2
4681     T 2022-03-01 00:04:01             35280        420          2       41220                                  Fullerton          4
4682     T 2022-03-01 00:04:01             35280        420          3       40660                                   Armitage          6
4683     T 2022-03-01 00:04:01             35280        420          4       40800                                   Sedgwick          9
4684     T 2022-03-01 00:04:01             35280        420          5       40710                                    Chicago         13
4685     T 2022-03-01 00:04:01             35280        420          6       40460                           Merchandise Mart         15
4686     T 2022-03-01 00:04:01             35280        420          7       40730                           Washington/Wells         18
4687     T 2022-03-01 00:04:01             35280        420          8       40040                                     Quincy         19
5352     T 2022-03-01 00:04:41             35281        420          0       41210                                 Wellington        Due
5353     T 2022-03-01 00:04:41             35281        420          1       40530                                   Diversey          2
5354     T 2022-03-01 00:04:41             35281        420          2       41220                                  Fullerton          3
5355     T 2022-03-01 00:04:41             35281        420          3       40660                                   Armitage          5
5356     T 2022-03-01 00:04:41             35281        420          4       40800                                   Sedgwick          9
5357     T 2022-03-01 00:04:41             35281        420          5       40710                                    Chicago         12
5358     T 2022-03-01 00:04:41             35281        420          6       40460                           Merchandise Mart         14
5359     T 2022-03-01 00:04:41             35281        420          7       40730                           Washington/Wells         17
5360     T 2022-03-01 00:04:41             35281        420          8       40040                                     Quincy         18
5361     T 2022-03-01 00:04:41             35281        420          9       40160                          LaSalle/Van Buren         19
5660     T 2022-03-01 00:05:01             35300        420          0       40530                                   Diversey        Due
5661     T 2022-03-01 00:05:01             35300        420          1       41220                                  Fullerton          3
5662     T 2022-03-01 00:05:01             35300        420          2       40660                                   Armitage          4
5663     T 2022-03-01 00:05:01             35300        420          3       40800                                   Sedgwick          8
5664     T 2022-03-01 00:05:01             35300        420          4       40710                                    Chicago         11
5665     T 2022-03-01 00:05:01             35300        420          5       40460                           Merchandise Mart         14
5666     T 2022-03-01 00:05:01             35300        420          6       40730                           Washington/Wells         16
5667     T 2022-03-01 00:05:01             35300        420          7       40040                                     Quincy         17
5668     T 2022-03-01 00:05:01             35300        420          8       40160                          LaSalle/Van Buren         19
6050     T 2022-03-01 00:05:21             35301        420          0       40530                                   Diversey        Due
6051     T 2022-03-01 00:05:21             35301        420          1       41220                                  Fullerton          2
6052     T 2022-03-01 00:05:21             35301        420          2       40660                                   Armitage          4
6053     T 2022-03-01 00:05:21             35301        420          3       40800                                   Sedgwick          8
6054     T 2022-03-01 00:05:21             35301        420          4       40710                                    Chicago         11
6055     T 2022-03-01 00:05:21             35301        420          5       40460                           Merchandise Mart         13
6056     T 2022-03-01 00:05:21             35301        420          6       40730                           Washington/Wells         16
6057     T 2022-03-01 00:05:21             35301        420          7       40040                                     Quincy         17
6058     T 2022-03-01 00:05:21             35301        420          8       40160                          LaSalle/Van Buren         19
6059     T 2022-03-01 00:05:21             35301        420          9       40850  Harold Washington Library-State/Van Buren         19
6440     T 2022-03-01 00:05:41             35315        420          0       40530                                   Diversey        Due
6441     T 2022-03-01 00:05:41             35315        420          1       41220                                  Fullerton          2
6442     T 2022-03-01 00:05:41             35315        420          2       40660                                   Armitage          3
6443     T 2022-03-01 00:05:41             35315        420          3       40800                                   Sedgwick          7
6444     T 2022-03-01 00:05:41             35315        420          4       40710                                    Chicago         11
6445     T 2022-03-01 00:05:41             35315        420          5       40460                           Merchandise Mart         13
6446     T 2022-03-01 00:05:41             35315        420          6       40730                           Washington/Wells         15
6447     T 2022-03-01 00:05:41             35315        420          7       40040                                     Quincy         16
6448     T 2022-03-01 00:05:41             35315        420          8       40160                          LaSalle/Van Buren         18
6449     T 2022-03-01 00:05:41             35315        420          9       40850  Harold Washington Library-State/Van Buren         19
6788     T 2022-03-01 00:06:02             35320        420          0       41220                                  Fullerton          2
6789     T 2022-03-01 00:06:02             35320        420          1       40660                                   Armitage          3
6790     T 2022-03-01 00:06:02             35320        420          2       40800                                   Sedgwick          7
6791     T 2022-03-01 00:06:02             35320        420          3       40710                                    Chicago         10
6792     T 2022-03-01 00:06:02             35320        420          4       40460                           Merchandise Mart         12
6793     T 2022-03-01 00:06:02             35320        420          5       40730                           Washington/Wells         15
6794     T 2022-03-01 00:06:02             35320        420          6       40040                                     Quincy         16

In [90]:
# want a map from parent_station (aka ParentStop in the pdf) to CurrentStationId for Brown Line
# station_id_map.CurrentStationId // 1000 == 31 find the stations on the brown line (3) going in direction (1) (Kimball)
brown_entries = station_id_map[(station_id_map.line == 'T') & (station_id_map.CurrentStationId // 1000 == 31)].sort_values('CurrentStationId')[['stop_name', 'parent_station','CurrentStationId']]

In [91]:
brown_entries.query('stop_name == "Merchandise Mart"')

            stop_name  parent_station  CurrentStationId
468  Merchandise Mart           40460             31291
469  Merchandise Mart           40460             31340

In [92]:
bmap = brown_entries[['parent_station','CurrentStationId']].set_index('parent_station').CurrentStationId.to_dict()

In [93]:
# Get run 420 again
run = pdf.query("RunNumber == 420")

# map the ParentStop through the bmap to get the StationId for the Prediction
run_with_id = run.assign(PredictionStationId=run.ParentStop.map(bmap))

In [94]:
run_with_id[(run_with_id.CurrentStationId == CurrentStationIdOne) & (run_with_id.PredictionStationId == CurrentStationIdTwo)]

Empty DataFrame
Columns: [Line, Datetime, CurrentStationId, RunNumber, StopOrder, ParentStop, StopName, Prediction, PredictionStationId]
Index: []

In [95]:
'''pd.merge(PS_to_CS_df, pdf[['Prediction']], on=['RunNumber','Datetime'], how='left')'''
#merge on run num and datetime
#how do these match up? How can we present the predictions? 
#Given a run num and a window of time, look at predictions, how does predictions change over time

"pd.merge(PS_to_CS_df, pdf[['Prediction']], on=['RunNumber','Datetime'], how='left')"

In [96]:
### Data

In [97]:
import geopandas as gpd
station_id_map = gpd.read_parquet('station-id-map.parquet')

## How long between stops?

In [98]:
# From the station id map, we can look at the edf directly and find how long it takes to go from one stop to another
# Take Brown Line (Irving Park-Brown to Damen-Brown)
station_id_map[(station_id_map.line == 'T') & station_id_map.stop_name.isin(['Irving Park-Brown','Damen-Brown'])]

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,location_type,parent_station,wheelchair_boarding,route_id,line,dir_code,geometry,index_right,Line,CurrentStationId,Lat,Lng,DirCode
463,30018,NaN,Damen-Brown,None,41.966286,-87.678639,0,40090,1,Brn,T,1,POINT (-87.67864 41.96629),365,T,31640,41.96641,-87.67864,1
505,30281,NaN,Irving Park-Brown,None,41.954521,-87.674868,0,41460,1,Brn,T,1,POINT (-87.67487 41.95452),1273,T,31600,41.95451,-87.67496,1
509,30019,NaN,Damen-Brown,None,41.966286,-87.678639,0,40090,1,Brn,T,5,POINT (-87.67864 41.96629),62,T,35120,41.96641,-87.67864,5
544,30282,NaN,Irving Park-Brown,None,41.954521,-87.674868,0,41460,1,Brn,T,5,POINT (-87.67487 41.95452),737,T,35160,41.95451,-87.67496,5

In [99]:
# In previous result, scroll over to see CurrentStationId -> 31600, 31640
#
# Now, let's look at the actual times from the entries data
import pandas as pd
edf = pd.read_parquet('2022-03-entries-start.parquet')

In [100]:
edf.query('RunNumber == 420 and Datetime > "2022-03-01 00:53:00"')

,Line,Datetime,Lat,Lng,RunNumber,CurrentStationId,ExitStationId,Direction,LineName,DirMod,DestName,IsSched,CSSClass,Flags
11202,T,2022-03-01 00:53:02,41.94702,-87.67474,420,31580,31740,1.620330,Brn,to,Kimball,False,ttpm_predslip_brown,
11268,T,2022-03-01 00:53:22,41.94702,-87.67474,420,31580,31740,1.620330,Brn,to,Kimball,False,ttpm_predslip_brown,
11333,T,2022-03-01 00:53:42,41.95077,-87.67483,420,31581,31740,1.600769,Brn,to,Kimball,False,ttpm_predslip_brown,
11398,T,2022-03-01 00:54:01,41.95077,-87.67483,420,31581,31740,1.600769,Brn,to,Kimball,False,ttpm_predslip_brown,
11462,T,2022-03-01 00:54:21,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270492,T,2022-03-07 07:42:01,41.96613,-87.70430,420,31708,31740,3.148721,Brn,to,Kimball,False,ttpm_predslip_brown,
270514,T,2022-03-07 07:42:21,41.96612,-87.70583,420,31715,31740,3.148721,Brn,to,Kimball,False,ttpm_predslip_brown,
270535,T,2022-03-07 07:42:41,41.96609,-87.70882,420,31720,31740,3.154367,Brn,to,Kimball,False,ttpm_predslip_brown,
270556,T,2022-03-07 07:43:01,41.96607,-87.71087,420,31735,31740,3.142090,Brn,to,Kimball,False,ttpm_predslip_brown,
415382,T,2022-03-07 22:09:41,41.96635,-87.71310,420,35030,31740,4.855133,Brn,to,Loop,False,ttpm_predslip_brown,

In [101]:
# Now, look at a RunNumber on the Brown Line and just those stations in the "1" direction
edf.query('RunNumber == 420 and CurrentStationId.isin([31600, 31640])')

,Line,Datetime,Lat,Lng,RunNumber,CurrentStationId,ExitStationId,Direction,LineName,DirMod,DestName,IsSched,CSSClass,Flags
11462,T,2022-03-01 00:54:21,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
11525,T,2022-03-01 00:54:41,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
11971,T,2022-03-01 00:57:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
12035,T,2022-03-01 00:57:21,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
12099,T,2022-03-01 00:57:41,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
114921,T,2022-03-01 14:28:42,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
115009,T,2022-03-01 14:29:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
115627,T,2022-03-01 14:31:21,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
115714,T,2022-03-01 14:31:41,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
115801,T,2022-03-01 14:32:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
137739,T,2022-03-01 15:59:41,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
137814,T,2022-03-01 16:00:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
137889,T,2022-03-01 16:00:21,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
138429,T,2022-03-01 16:02:42,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
138507,T,2022-03-01 16:03:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
204182,T,2022-03-01 21:33:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
204255,T,2022-03-01 21:33:21,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
204329,T,2022-03-01 21:33:41,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
204774,T,2022-03-01 21:35:41,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
204848,T,2022-03-01 21:36:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
228797,T,2022-03-01 23:11:42,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
228889,T,2022-03-01 23:12:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
229533,T,2022-03-01 23:14:21,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
229625,T,2022-03-01 23:14:41,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
229717,T,2022-03-01 23:15:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
253446,T,2022-03-02 00:48:41,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
253518,T,2022-03-02 00:49:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
253592,T,2022-03-02 00:49:21,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
254103,T,2022-03-02 00:51:41,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
254174,T,2022-03-02 00:52:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
254246,T,2022-03-02 00:52:21,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
361950,T,2022-03-02 14:17:41,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
362040,T,2022-03-02 14:18:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
362743,T,2022-03-02 14:20:41,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
362828,T,2022-03-02 14:21:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
362917,T,2022-03-02 14:21:21,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
387406,T,2022-03-02 15:57:41,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
387481,T,2022-03-02 15:58:02,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
387556,T,2022-03-02 15:58:22,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
388237,T,2022-03-02 16:01:22,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
388315,T,2022-03-02 16:01:42,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
388392,T,2022-03-02 16:02:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
43070,T,2022-03-03 14:16:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
43159,T,2022-03-03 14:16:21,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
43248,T,2022-03-03 14:16:41,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
43890,T,2022-03-03 14:19:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
43981,T,2022-03-03 14:19:21,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
68965,T,2022-03-03 15:53:42,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,D
69042,T,2022-03-03 15:54:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,D
69120,T,2022-03-03 15:54:21,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,D
69198,T,2022-03-03 15:54:41,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,D
69276,T,2022-03-03 15:55:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,D
69906,T,2022-03-03 15:57:41,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,D
69984,T,2022-03-03 15:58:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,D
142115,T,2022-03-03 21:38:41,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
142189,T,2022-03-03 21:39:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
142769,T,2022-03-03 21:41:41,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
142838,T,2022-03-03 21:42:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
166096,T,2022-03-03 23:13:42,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
166190,T,2022-03-03 23:14:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
166283,T,2022-03-03 23:14:21,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
167035,T,2022-03-03 23:17:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
167129,T,2022-03-03 23:17:21,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
189708,T,2022-03-04 00:47:41,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
189780,T,2022-03-04 00:48:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
189851,T,2022-03-04 00:48:21,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
189922,T,2022-03-04 00:48:41,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
190437,T,2022-03-04 00:51:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
190512,T,2022-03-04 00:51:21,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
190587,T,2022-03-04 00:51:41,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
299136,T,2022-03-04 14:33:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,D
299225,T,2022-03-04 14:33:22,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,D
299941,T,2022-03-04 14:36:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,D
300031,T,2022-03-04 14:36:21,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,D
320091,T,2022-03-04 15:58:21,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
320164,T,2022-03-04 15:58:41,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
320237,T,2022-03-04 15:59:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
320309,T,2022-03-04 15:59:21,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
320892,T,2022-03-04 16:02:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
320966,T,2022-03-04 16:02:21,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
389173,T,2022-03-04 21:41:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
389245,T,2022-03-04 21:41:21,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
389321,T,2022-03-04 21:41:41,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
389918,T,2022-03-04 21:44:21,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
389990,T,2022-03-04 21:44:41,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
390061,T,2022-03-04 21:45:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
412858,T,2022-03-04 23:17:21,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
412948,T,2022-03-04 23:17:41,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
413039,T,2022-03-04 23:18:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
413652,T,2022-03-04 23:20:21,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
413738,T,2022-03-04 23:20:41,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
413826,T,2022-03-04 23:21:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
436903,T,2022-03-05 00:56:21,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
436975,T,2022-03-05 00:56:41,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
437047,T,2022-03-05 00:57:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
437593,T,2022-03-05 00:59:41,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
437657,T,2022-03-05 01:00:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
437722,T,2022-03-05 01:00:21,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
61978,T,2022-03-05 22:05:21,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
62029,T,2022-03-05 22:05:42,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
62080,T,2022-03-05 22:06:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
62491,T,2022-03-05 22:08:41,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
62543,T,2022-03-05 22:09:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
62595,T,2022-03-05 22:09:21,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
75923,T,2022-03-05 23:43:42,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
76285,T,2022-03-05 23:46:41,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
76329,T,2022-03-05 23:47:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
76376,T,2022-03-05 23:47:22,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
76422,T,2022-03-05 23:47:42,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
101186,T,2022-03-06 03:23:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
101220,T,2022-03-06 03:23:21,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
101254,T,2022-03-06 03:23:41,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
101564,T,2022-03-06 03:26:41,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
101599,T,2022-03-06 03:27:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
101634,T,2022-03-06 03:27:22,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
112321,T,2022-03-06 05:17:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
112353,T,2022-03-06 05:17:21,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
112385,T,2022-03-06 05:17:41,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
112640,T,2022-03-06 05:20:21,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
112672,T,2022-03-06 05:20:41,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
112705,T,2022-03-06 05:21:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
112738,T,2022-03-06 05:21:21,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
235382,T,2022-03-07 02:05:22,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
235422,T,2022-03-07 02:05:42,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
235461,T,2022-03-07 02:06:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
235700,T,2022-03-07 02:08:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
235740,T,2022-03-07 02:08:22,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
247473,T,2022-03-07 03:51:22,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
247510,T,2022-03-07 03:51:42,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
247765,T,2022-03-07 03:54:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
247803,T,2022-03-07 03:54:21,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
261337,T,2022-03-07 05:54:41,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
261371,T,2022-03-07 05:55:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
261406,T,2022-03-07 05:55:22,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
261643,T,2022-03-07 05:57:41,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
261675,T,2022-03-07 05:58:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
261707,T,2022-03-07 05:58:21,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
270027,T,2022-03-07 07:34:41,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
270050,T,2022-03-07 07:35:01,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
270073,T,2022-03-07 07:35:21,41.95451,-87.67496,420,31600,31740,1.650667,Brn,to,Kimball,False,ttpm_predslip_brown,
270228,T,2022-03-07 07:37:41,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,
270250,T,2022-03-07 07:38:01,41.96641,-87.67864,420,31640,31740,3.158250,Brn,to,Kimball,False,ttpm_predslip_brown,

In [102]:
# We have multiple entries for some stations (the train might stay there for a minute)
two_stations = edf.query('RunNumber == 420 and CurrentStationId.isin([31640, 31600])')
two_stations_dedup = two_stations[two_stations.CurrentStationId.diff() != 0]

In [103]:
# compute the difference
two_stations_dedup.Datetime.diff()

11462                NaT
11971    0 days 00:02:40
114921   0 days 13:31:41
115627   0 days 00:02:39
137739   0 days 01:28:20
138429   0 days 00:03:01
204182   0 days 05:30:19
204774   0 days 00:02:40
228797   0 days 01:36:01
229533   0 days 00:02:39
253446   0 days 01:34:20
254103   0 days 00:03:00
361950   0 days 13:26:00
362743   0 days 00:03:00
387406   0 days 01:37:00
388237   0 days 00:03:41
43070    0 days 22:14:39
43890    0 days 00:03:00
68965    0 days 01:34:41
69906    0 days 00:03:59
142115   0 days 05:41:00
142769   0 days 00:03:00
166096   0 days 01:32:01
167035   0 days 00:03:19
189708   0 days 01:30:40
190437   0 days 00:03:20
299136   0 days 13:42:00
299941   0 days 00:03:00
320091   0 days 01:22:20
320892   0 days 00:03:40
389173   0 days 05:39:00
389918   0 days 00:03:20
412858   0 days 01:33:00
413652   0 days 00:03:00
436903   0 days 01:36:00
437593   0 days 00:03:20
61978    0 days 21:05:40
62491    0 days 00:03:20
75923    0 days 01:35:01
76285    0 days 00:02:59
101186   0 days 03:36:20
101564   0 days 00:03:40
112321   0 days 01:50:20
112640   0 days 00:03:20
235382   0 days 20:45:01
235700   0 days 00:02:39
247473   0 days 01:43:21
247765   0 days 00:02:39
261337   0 days 02:00:40
261643   0 days 00:03:00
270027   0 days 01:37:00
270228   0 days 00:03:00
Name: Datetime, dtype: timedelta64[ns]

In [104]:
# the actual times are betweeen 31640 and 31600 so we want every other one, starting with 1
two_stations_dedup.Datetime.diff().iloc[1::2] # 1 is the start, empty is the end and 2 is the step size

11971    0 days 00:02:40
115627   0 days 00:02:39
138429   0 days 00:03:01
204774   0 days 00:02:40
229533   0 days 00:02:39
254103   0 days 00:03:00
362743   0 days 00:03:00
388237   0 days 00:03:41
43890    0 days 00:03:00
69906    0 days 00:03:59
142769   0 days 00:03:00
167035   0 days 00:03:19
190437   0 days 00:03:20
299941   0 days 00:03:00
320892   0 days 00:03:40
389918   0 days 00:03:20
413652   0 days 00:03:00
437593   0 days 00:03:20
62491    0 days 00:03:20
76285    0 days 00:02:59
101564   0 days 00:03:40
112640   0 days 00:03:20
235700   0 days 00:02:39
247765   0 days 00:02:39
261643   0 days 00:03:00
270228   0 days 00:03:00
Name: Datetime, dtype: timedelta64[ns]

In [105]:
# we can see that it's usually around 3 minutes to go between these two stops

## What about Predictions?

Need to map the predicted stop information to the edf CurrentStationIds.

In [106]:
import pandas as pd
pdf = pd.read_parquet('2022-03-preds-start.parquet')

In [107]:
# want a map from parent_station (aka ParentStop in the pdf) to CurrentStationId for Brown Line
# station_id_map.CurrentStationId // 1000 == 31 find the stations on the brown line (3) going in direction (1) (Kimball)
brown_entries = station_id_map[(station_id_map.line == 'T') & (station_id_map.CurrentStationId // 1000 == 31)].sort_values('CurrentStationId')[['stop_name', 'parent_station','CurrentStationId']]

In [108]:
brown_entries.query('stop_name == "Belmont"')

    stop_name  parent_station  CurrentStationId
502   Belmont           41320             31475

In [109]:
bmap = brown_entries[['parent_station','CurrentStationId']].set_index('parent_station').CurrentStationId.to_dict()

In [110]:
# Get run 420 again
run = pdf.query("RunNumber == 420")

In [111]:
# map the ParentStop through the bmap to get the StationId for the Prediction
run_with_id = run.assign(PredictionStationId=run.ParentStop.map(bmap))

In [112]:
# look at the normal prediction for 31600 to 31060
run_with_id[(run_with_id.CurrentStationId == 31600) & (run_with_id.PredictionStationId == 31640)]

,Line,Datetime,CurrentStationId,RunNumber,StopOrder,ParentStop,StopName,Prediction,PredictionStationId
54281,T,2022-03-01 00:54:21,31600,420,1,40090,Damen,3,31640
546782,T,2022-03-01 14:28:42,31600,420,1,40090,Damen,3,31640
1649227,T,2022-03-02 14:17:41,31600,420,1,40090,Damen,2,31640
1757082,T,2022-03-02 15:57:41,31600,420,1,40090,Damen,3,31640
199675,T,2022-03-03 14:16:01,31600,420,1,40090,Damen,3,31640
300413,T,2022-03-03 15:53:42,31600,420,1,40090,Damen,2,31640
610576,T,2022-03-03 21:38:41,31600,420,1,40090,Damen,3,31640
814181,T,2022-03-04 00:47:41,31600,420,1,40090,Damen,3,31640
1292269,T,2022-03-04 14:33:01,31600,420,1,40090,Damen,3,31640
1781404,T,2022-03-04 23:17:21,31600,420,1,40090,Damen,3,31640
1882101,T,2022-03-05 00:56:21,31600,420,1,40090,Damen,3,31640
260679,T,2022-03-05 22:05:21,31600,420,1,40090,Damen,3,31640
419537,T,2022-03-06 03:23:01,31600,420,1,40090,Damen,3,31640
463729,T,2022-03-06 05:17:01,31600,420,1,40090,Damen,3,31640
989528,T,2022-03-07 02:05:22,31600,420,1,40090,Damen,2,31640
1039217,T,2022-03-07 03:51:22,31600,420,1,40090,Damen,3,31640
1099722,T,2022-03-07 05:54:41,31600,420,1,40090,Damen,3,31640

In [113]:
# we can see that the prediction is 2 or 3 minutes which lines up with what we see!

### YELLOW LINE

In [152]:
import geopandas as gpd
station_id_map = gpd.read_parquet('station-id-map.parquet').sort_values("CurrentStationId", ascending=False)

In [153]:

station_id_map.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,location_type,parent_station,wheelchair_boarding,route_id,line,dir_code,geometry,index_right,Line,CurrentStationId,Lat,Lng,DirCode
640,30027,NaN,Dempster-Skokie,None,42.038951,-87.751919,0,40140,1,Y,Y,5,POINT (-87.75192 42.03895),2786,Y,95080,0.0,0.0,5
641,30176,NaN,Howard,None,42.019063,-87.672892,0,40900,1,Y,Y,5,POINT (-87.67289 42.01906),2786,Y,95080,0.0,0.0,5
642,30298,NaN,Oakton-Skokie,None,42.026243,-87.747221,0,41680,1,Y,Y,5,POINT (-87.74722 42.02624),2786,Y,95080,0.0,0.0,5
637,30027,NaN,Dempster-Skokie,None,42.038951,-87.751919,0,40140,1,Y,Y,5,POINT (-87.75192 42.03895),2641,Y,95078,0.0,0.0,5
638,30176,NaN,Howard,None,42.019063,-87.672892,0,40900,1,Y,Y,5,POINT (-87.67289 42.01906),2641,Y,95078,0.0,0.0,5

In [ ]:
pd.set_option('display.max_rows', 500)
import geopandas as gpd
station_id_map = gpd.read_parquet('station-id-map.parquet')
# From the station id map, we can look at the edf directly and find how long it takes to go from one stop to another
# Take Yellow Line (Howard to Oakton-Skokie to Dempster-Skokie)
station_id_map[(station_id_map.line == 'Y') & station_id_map.stop_name.isin(['Oakton-Skokie','Dempster-Skokie' ])]

In [ ]:
pd.set_option("display.max_rows", 500)
# In previous result, scroll over to see CurrentStationId -> 31735, 31340
#
# Now, let's look at the actual times from the entries data
import pandas as pd
edf = pd.read_parquet('2022-03-entries-start.parquet')
edf.query('RunNumber == 594 and Datetime > "2022-03-01 00:53:00"').head(100)

In [138]:
# Now, look at a RunNumber on the Brown Line and just those stations in the "1" direction
YellowDempsterSkokie = 91078 #Dempster-Skokie
YellowOaktonSkokie = 91058 #Oakton-Skokie
'''CurrentStationIdThree = 91020 #Howard'''
edf.query(f'RunNumber == 594 and CurrentStationId.isin([{YellowDempsterSkokie}, {YellowOaktonSkokie}])').head()

,Line,Datetime,Lat,Lng,RunNumber,CurrentStationId,ExitStationId,Direction,LineName,DirMod,DestName,IsSched,CSSClass,Flags
2211,Y,2022-03-01 00:09:41,42.02686,-87.74745,594,91058,95090,4.993097,Yel,to,Skokie,False,ttpm_predslip_yellow,
2283,Y,2022-03-01 00:10:01,42.02686,-87.74745,594,91058,95090,4.993097,Yel,to,Skokie,False,ttpm_predslip_yellow,
2935,Y,2022-03-01 00:13:01,42.03895,-87.75192,594,91078,95090,5.069098,Yel,to,Skokie,False,ttpm_predslip_yellow,
8635,Y,2022-03-01 00:40:01,42.02686,-87.74745,594,91058,95090,4.993097,Yel,to,Skokie,False,ttpm_predslip_yellow,
106338,Y,2022-03-01 13:57:01,42.02686,-87.74745,594,91058,95090,4.993097,Yel,to,Skokie,False,ttpm_predslip_yellow,

In [142]:
# We have multiple entries for some stations (the train might stay there for a minute)
YellowDempsterToYellowOaktonSkokie = edf.query(f'RunNumber == 594 and CurrentStationId.isin([{YellowDempsterSkokie}, {YellowOaktonSkokie }])')
YellowDempsterToYellowOaktonSkokie = YellowDempsterToYellowOaktonSkokie[YellowDempsterToYellowOaktonSkokie.CurrentStationId.diff() != 0]

# compute the difference
YellowDempsterToYellowOaktonSkokie.Datetime.diff()

2211                 NaT
2935     0 days 00:03:20
8635     0 days 00:27:00
114250   0 days 13:46:21
121016   0 days 00:25:19
121708   0 days 00:02:40
128188   0 days 00:25:20
222066   0 days 07:27:20
229031   0 days 00:25:41
229675   0 days 00:02:19
236422   0 days 00:25:20
237029   0 days 00:02:21
243924   0 days 00:26:20
252525   0 days 00:35:39
258032   0 days 00:26:41
258489   0 days 00:02:19
355474   0 days 12:39:01
356215   0 days 00:02:59
363131   0 days 00:26:41
364024   0 days 00:03:19
371225   0 days 00:27:01
372024   0 days 00:03:00
378557   0 days 00:24:59
379225   0 days 00:02:40
385869   0 days 00:27:40
386537   0 days 00:03:00
393096   0 days 00:30:00
393704   0 days 00:03:00
472634   0 days 06:14:00
473244   0 days 00:02:20
480472   0 days 00:27:00
481299   0 days 00:03:00
488969   0 days 00:28:21
489865   0 days 00:03:19
497123   0 days 00:27:40
497850   0 days 00:03:00
504933   0 days 00:29:40
505614   0 days 00:03:00
511467   0 days 00:27:00
512033   0 days 00:02:40
36256    0 days 12:33:20
37096    0 days 00:03:00
45129    0 days 00:29:21
45878    0 days 00:02:40
52965    0 days 00:25:00
53804    0 days 00:02:59
61068    0 days 00:27:21
61834    0 days 00:02:59
69629    0 days 00:32:01
150013   0 days 06:16:19
157069   0 days 00:27:40
157854   0 days 00:03:00
165205   0 days 00:27:01
166053   0 days 00:03:00
173381   0 days 00:26:19
174203   0 days 00:03:00
181779   0 days 00:29:21
182484   0 days 00:02:59
189317   0 days 00:30:40
296936   0 days 13:39:00
303618   0 days 00:25:20
304363   0 days 00:03:00
311686   0 days 00:29:21
312433   0 days 00:02:59
319675   0 days 00:31:00
326099   0 days 00:30:20
331411   0 days 00:25:41
331959   0 days 00:02:39
338556   0 days 00:33:01
403635   0 days 05:14:21
410664   0 days 00:26:39
411664   0 days 00:03:39
418829   0 days 00:26:40
427764   0 days 00:36:01
433810   0 days 00:26:19
434416   0 days 00:02:41
439987   0 days 00:27:19
440556   0 days 00:03:00
55529    0 days 20:06:20
55968    0 days 00:03:00
59831    0 days 00:26:40
60270    0 days 00:03:01
64407    0 days 00:27:39
64810    0 days 00:02:40
68815    0 days 00:26:40
69300    0 days 00:03:20
72893    0 days 00:26:00
73287    0 days 00:03:00
76950    0 days 00:28:20
77340    0 days 00:03:00
80574    0 days 00:26:00
80970    0 days 00:03:01
89738    0 days 01:13:20
90130    0 days 00:03:20
92968    0 days 00:25:19
93361    0 days 00:03:20
96526    0 days 00:28:00
96863    0 days 00:03:00
99450    0 days 00:26:20
99776    0 days 00:03:00
102566   0 days 00:26:40
102903   0 days 00:03:00
105579   0 days 00:27:00
105893   0 days 00:03:00
108434   0 days 00:27:20
108703   0 days 00:03:01
111675   0 days 00:30:59
111927   0 days 00:02:40
208799   0 days 17:15:00
225427   0 days 02:14:20
228986   0 days 00:30:00
232534   0 days 00:28:40
238879   0 days 00:55:00
239202   0 days 00:02:41
246270   0 days 01:01:19
256509   0 days 01:30:40
312091   0 days 08:40:00
312764   0 days 00:02:40
320220   0 days 00:28:20
321055   0 days 00:03:01
328449   0 days 00:27:40
336826   0 days 00:33:59
342966   0 days 00:26:40
343564   0 days 00:02:41
349808   0 days 00:30:59
355538   0 days 00:31:01
360478   0 days 00:26:19
361011   0 days 00:02:40
417233   0 days 04:51:41
423760   0 days 00:28:59
3282     0 days 00:23:20
3948     0 days 00:02:40
10628    0 days 00:27:20
11248    0 days 00:02:41
Name: Datetime, dtype: timedelta64[ns]

In [143]:
# the actual times are betweeen 31735 and 31720 so we want every other one, starting with 2
YellowDempsterToYellowOaktonSkokie.Datetime.diff().iloc[1::2] # 2 is the start, empty is the end and 2 is the step size

2935     0 days 00:03:20
114250   0 days 13:46:21
121708   0 days 00:02:40
222066   0 days 07:27:20
229675   0 days 00:02:19
237029   0 days 00:02:21
252525   0 days 00:35:39
258489   0 days 00:02:19
356215   0 days 00:02:59
364024   0 days 00:03:19
372024   0 days 00:03:00
379225   0 days 00:02:40
386537   0 days 00:03:00
393704   0 days 00:03:00
473244   0 days 00:02:20
481299   0 days 00:03:00
489865   0 days 00:03:19
497850   0 days 00:03:00
505614   0 days 00:03:00
512033   0 days 00:02:40
37096    0 days 00:03:00
45878    0 days 00:02:40
53804    0 days 00:02:59
61834    0 days 00:02:59
150013   0 days 06:16:19
157854   0 days 00:03:00
166053   0 days 00:03:00
174203   0 days 00:03:00
182484   0 days 00:02:59
296936   0 days 13:39:00
304363   0 days 00:03:00
312433   0 days 00:02:59
326099   0 days 00:30:20
331959   0 days 00:02:39
403635   0 days 05:14:21
411664   0 days 00:03:39
427764   0 days 00:36:01
434416   0 days 00:02:41
440556   0 days 00:03:00
55968    0 days 00:03:00
60270    0 days 00:03:01
64810    0 days 00:02:40
69300    0 days 00:03:20
73287    0 days 00:03:00
77340    0 days 00:03:00
80970    0 days 00:03:01
90130    0 days 00:03:20
93361    0 days 00:03:20
96863    0 days 00:03:00
99776    0 days 00:03:00
102903   0 days 00:03:00
105893   0 days 00:03:00
108703   0 days 00:03:01
111927   0 days 00:02:40
225427   0 days 02:14:20
232534   0 days 00:28:40
239202   0 days 00:02:41
256509   0 days 01:30:40
312764   0 days 00:02:40
321055   0 days 00:03:01
336826   0 days 00:33:59
343564   0 days 00:02:41
355538   0 days 00:31:01
361011   0 days 00:02:40
423760   0 days 00:28:59
3948     0 days 00:02:40
11248    0 days 00:02:41
Name: Datetime, dtype: timedelta64[ns]

In [121]:
import pandas as pd
pdf = pd.read_parquet('2022-03-preds-start.parquet')

In [154]:
yellow_entries = station_id_map[(station_id_map.line == 'Y') & (station_id_map.CurrentStationId // 1000 == 95)].sort_values('CurrentStationId')[['stop_name', 'parent_station','CurrentStationId']]

In [144]:
yellow_entries.query('stop_name == "Dempster-Skokie"')

           stop_name  parent_station  CurrentStationId
649  Dempster-Skokie           40140             95021
658  Dempster-Skokie           40140             95030
625  Dempster-Skokie           40140             95035
601  Dempster-Skokie           40140             95040
652  Dempster-Skokie           40140             95041
655  Dempster-Skokie           40140             95042
604  Dempster-Skokie           40140             95045
607  Dempster-Skokie           40140             95048
643  Dempster-Skokie           40140             95052
610  Dempster-Skokie           40140             95058
613  Dempster-Skokie           40140             95060
616  Dempster-Skokie           40140             95062
619  Dempster-Skokie           40140             95064
622  Dempster-Skokie           40140             95066
628  Dempster-Skokie           40140             95068
631  Dempster-Skokie           40140             95070
634  Dempster-Skokie           40140             95072
646  Dempster-Skokie           40140             95075
637  Dempster-Skokie           40140             95078
640  Dempster-Skokie           40140             95080

In [124]:
yellow_entries.query('stop_name == "Oakton-Skokie"')

         stop_name  parent_station  CurrentStationId
651  Oakton-Skokie           41680             95021
660  Oakton-Skokie           41680             95030
627  Oakton-Skokie           41680             95035
603  Oakton-Skokie           41680             95040
654  Oakton-Skokie           41680             95041
657  Oakton-Skokie           41680             95042
606  Oakton-Skokie           41680             95045
609  Oakton-Skokie           41680             95048
645  Oakton-Skokie           41680             95052
612  Oakton-Skokie           41680             95058
615  Oakton-Skokie           41680             95060
618  Oakton-Skokie           41680             95062
621  Oakton-Skokie           41680             95064
624  Oakton-Skokie           41680             95066
630  Oakton-Skokie           41680             95068
633  Oakton-Skokie           41680             95070
636  Oakton-Skokie           41680             95072
648  Oakton-Skokie           41680             95075
639  Oakton-Skokie           41680             95078
642  Oakton-Skokie           41680             95080

In [125]:
yellow_entries.query('stop_name == "Howard"')

    stop_name  parent_station  CurrentStationId
650    Howard           40900             95021
659    Howard           40900             95030
626    Howard           40900             95035
602    Howard           40900             95040
653    Howard           40900             95041
656    Howard           40900             95042
605    Howard           40900             95045
608    Howard           40900             95048
644    Howard           40900             95052
611    Howard           40900             95058
614    Howard           40900             95060
617    Howard           40900             95062
620    Howard           40900             95064
623    Howard           40900             95066
629    Howard           40900             95068
632    Howard           40900             95070
635    Howard           40900             95072
647    Howard           40900             95075
638    Howard           40900             95078
641    Howard           40900             95080

In [155]:
ymap = yellow_entries[['parent_station','CurrentStationId']].set_index('parent_station').CurrentStationId.to_dict()

In [156]:
# Get run 120 again
run = pdf.query("RunNumber == 594")

### BLUE LINE

In [127]:
import geopandas as gpd
station_id_map = gpd.read_parquet('station-id-map.parquet')

# From the station id map, we can look at the edf directly and find how long it takes to go from one stop to another
# Take Blue Line (Forest Park to Harlem-Forest Park)
station_id_map[(station_id_map.line == 'B') & station_id_map.stop_name.isin(['Forest Park', 'Harlem-Forest Park'])]

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,location_type,parent_station,wheelchair_boarding,route_id,line,dir_code,geometry,index_right,Line,CurrentStationId,Lat,Lng,DirCode
17,30076,NaN,Forest Park,None,41.874257,-87.817318,0,40390,1,Blue,B,1,POINT (-87.81732 41.87426),31,B,11020,41.87426,-87.81732,1
52,30189,NaN,Harlem-Forest Park,None,41.873490,-87.806961,0,40980,0,Blue,B,1,POINT (-87.80696 41.87349),476,B,11040,41.87349,-87.80696,1
81,30077,NaN,Forest Park,None,41.874257,-87.817318,0,40390,1,Blue,B,5,POINT (-87.81732 41.87426),1941,B,15695,41.87376,-87.80963,5
112,30190,NaN,Harlem-Forest Park,None,41.873490,-87.806961,0,40980,0,Blue,B,5,POINT (-87.80696 41.87349),1634,B,15680,41.87349,-87.80696,5

In [128]:
import pandas as pd
edf = pd.read_parquet('2022-03-entries-start.parquet')
edf.query('RunNumber == 120')

,Line,Datetime,Lat,Lng,RunNumber,CurrentStationId,ExitStationId,Direction,LineName,DirMod,DestName,IsSched,CSSClass,Flags
29,B,2022-03-01 00:00:01,41.97208,-87.76551,120,11602,11700,2.743046,Blu,to,O'Hare,False,ttpm_predslip_blue,
103,B,2022-03-01 00:00:21,41.98232,-87.80890,120,11604,11700,3.151556,Blu,to,O'Hare,False,ttpm_predslip_blue,
176,B,2022-03-01 00:00:41,41.97496,-87.77076,120,11607,11700,2.623162,Blu,to,O'Hare,False,ttpm_predslip_blue,
250,B,2022-03-01 00:01:02,41.97580,-87.77222,120,11608,11700,2.622869,Blu,to,O'Hare,False,ttpm_predslip_blue,
324,B,2022-03-01 00:01:22,41.97800,-87.77609,120,11610,11700,2.623537,Blu,to,O'Hare,False,ttpm_predslip_blue,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91155,B,2022-03-06 01:49:21,41.98384,-87.84917,120,11650,11660,3.178393,Blu,to,Rosemont,False,ttpm_predslip_blue,
91195,B,2022-03-06 01:49:41,41.98351,-87.85939,120,11651,11660,3.176772,Blu,to,Rosemont,False,ttpm_predslip_blue,
91235,B,2022-03-06 01:50:01,41.98366,-87.85574,120,11655,11660,3.181652,Blu,to,Rosemont,False,ttpm_predslip_blue,
91275,B,2022-03-06 01:50:21,41.98363,-87.85659,120,11658,11660,3.181652,Blu,to,Rosemont,False,ttpm_predslip_blue,
91314,B,2022-03-06 01:50:41,41.98363,-87.85659,120,11658,11660,3.181652,Blu,to,Rosemont,False,ttpm_predslip_blue,

In [129]:
# In previous result, scroll over to see CurrentStationId -> 11020, 11040
#
# Now, let's look at the actual times from the entries data
import pandas as pd
edf = pd.read_parquet('2022-03-entries-start.parquet')
edf.query('RunNumber == 120 and Datetime > "2022-03-01 00:53:00"').head()

,Line,Datetime,Lat,Lng,RunNumber,CurrentStationId,ExitStationId,Direction,LineName,DirMod,DestName,IsSched,CSSClass,Flags
139466,B,2022-03-01 16:07:21,41.87426,-87.81732,120,11020,11700,6.200427,Blu,to,O'Hare,False,ttpm_predslip_blue,
139544,B,2022-03-01 16:07:41,41.87426,-87.81732,120,11020,11700,6.200427,Blu,to,O'Hare,False,ttpm_predslip_blue,
139620,B,2022-03-01 16:08:01,41.87376,-87.80970,120,11035,11700,6.182494,Blu,to,O'Hare,False,ttpm_predslip_blue,
139694,B,2022-03-01 16:08:22,41.87349,-87.80696,120,11040,11700,6.183922,Blu,to,O'Hare,False,ttpm_predslip_blue,
139767,B,2022-03-01 16:08:42,41.87349,-87.80696,120,11040,11700,6.183922,Blu,to,O'Hare,False,ttpm_predslip_blue,

In [130]:
# Now, look at a RunNumber on the Brown Line and just those stations in the "1" direction
BlueForestPark =  11020 #BlueForestPark
BlueHarlemForestPark = 11040 #BlueHarlem-ForestPark
edf.query(f'RunNumber == 120 and CurrentStationId.isin([{BlueForestPark}, {BlueHarlemForestPark}])').head()

,Line,Datetime,Lat,Lng,RunNumber,CurrentStationId,ExitStationId,Direction,LineName,DirMod,DestName,IsSched,CSSClass,Flags
139466,B,2022-03-01 16:07:21,41.87426,-87.81732,120,11020,11700,6.200427,Blu,to,O'Hare,False,ttpm_predslip_blue,
139544,B,2022-03-01 16:07:41,41.87426,-87.81732,120,11020,11700,6.200427,Blu,to,O'Hare,False,ttpm_predslip_blue,
139694,B,2022-03-01 16:08:22,41.87349,-87.80696,120,11040,11700,6.183922,Blu,to,O'Hare,False,ttpm_predslip_blue,
139767,B,2022-03-01 16:08:42,41.87349,-87.80696,120,11040,11700,6.183922,Blu,to,O'Hare,False,ttpm_predslip_blue,
139840,B,2022-03-01 16:09:01,41.87349,-87.80696,120,11040,11700,6.183922,Blu,to,O'Hare,False,ttpm_predslip_blue,

In [131]:
# We have multiple entries for some stations (the train might stay there for a minute)
ForestParkToHarlemForestPark = edf.query(f'RunNumber == 120 and CurrentStationId.isin([{BlueForestPark}, {BlueHarlemForestPark}])')
ForestParkToHarlemForestPark_dedup = ForestParkToHarlemForestPark[ForestParkToHarlemForestPark.CurrentStationId.diff() != 0]

# compute the difference
ForestParkToHarlemForestPark_dedup.Datetime.diff()

139466               NaT
139694   0 days 00:01:01
370768   3 days 04:02:00
370962   0 days 00:00:59
50632    1 days 00:35:20
50823    0 days 00:01:20
80659    0 days 03:33:20
80787    0 days 00:01:01
Name: Datetime, dtype: timedelta64[ns]

In [132]:
# the actual times are betweeen 31735 and 31720 so we want every other one, starting with 2
ForestParkToHarlemForestPark_dedup.Datetime.diff().iloc[1::2] # 2 is the start, empty is the end and 2 is the step size

139694   0 days 00:01:01
370962   0 days 00:00:59
50823    0 days 00:01:20
80787    0 days 00:01:01
Name: Datetime, dtype: timedelta64[ns]

### Prediction

In [133]:
import pandas as pd
pdf = pd.read_parquet('2022-03-preds-start.parquet')
print(pdf.query('RunNumber == 120 and Datetime < "2022-03-01 12:00:00"').to_string())

      Line            Datetime  CurrentStationId  RunNumber  StopOrder  ParentStop                StopName Prediction
204      B 2022-03-01 00:00:01             11602        120          0       40750  Harlem (O'Hare Branch)          3
205      B 2022-03-01 00:00:01             11602        120          1       40230              Cumberland          6
206      B 2022-03-01 00:00:01             11602        120          2       40820                Rosemont          9
692      B 2022-03-01 00:00:21             11604        120          0       40750  Harlem (O'Hare Branch)          2
693      B 2022-03-01 00:00:21             11604        120          1       40230              Cumberland          6
694      B 2022-03-01 00:00:21             11604        120          2       40820                Rosemont          8
1016     B 2022-03-01 00:00:41             11607        120          0       40750  Harlem (O'Hare Branch)          2
1017     B 2022-03-01 00:00:41             11607        120          1       40230              Cumberland          5
1018     B 2022-03-01 00:00:41             11607        120          2       40820                Rosemont          8
1019     B 2022-03-01 00:00:41             11607        120          3       40890                  O'Hare         19
1344     B 2022-03-01 00:01:02             11608        120          0       40750  Harlem (O'Hare Branch)          2
1345     B 2022-03-01 00:01:02             11608        120          1       40230              Cumberland          5
1346     B 2022-03-01 00:01:02             11608        120          2       40820                Rosemont          8
1347     B 2022-03-01 00:01:02             11608        120          3       40890                  O'Hare         19
1698     B 2022-03-01 00:01:22             11610        120          0       40750  Harlem (O'Hare Branch)          2
1699     B 2022-03-01 00:01:22             11610        120          1       40230              Cumberland          5
1700     B 2022-03-01 00:01:22             11610        120          2       40820                Rosemont          7
1701     B 2022-03-01 00:01:22             11610        120          3       40890                  O'Hare         19
2440     B 2022-03-01 00:02:01             11612        120          0       40750  Harlem (O'Hare Branch)        Due
2441     B 2022-03-01 00:02:01             11612        120          1       40230              Cumberland          4
2442     B 2022-03-01 00:02:01             11612        120          2       40820                Rosemont          7
2443     B 2022-03-01 00:02:01             11612        120          3       40890                  O'Hare         18
3130     B 2022-03-01 00:02:42             11613        120          0       40750  Harlem (O'Hare Branch)        Due
3131     B 2022-03-01 00:02:42             11613        120          1       40230              Cumberland          3
3132     B 2022-03-01 00:02:42             11613        120          2       40820                Rosemont          6
3133     B 2022-03-01 00:02:42             11613        120          3       40890                  O'Hare         17
3543     B 2022-03-01 00:03:01             11616        120          0       40750  Harlem (O'Hare Branch)        Due
3544     B 2022-03-01 00:03:01             11616        120          1       40230              Cumberland          3
3545     B 2022-03-01 00:03:01             11616        120          2       40820                Rosemont          6
3546     B 2022-03-01 00:03:01             11616        120          3       40890                  O'Hare         17
3831     B 2022-03-01 00:03:21             11620        120          0       40230              Cumberland          3
3832     B 2022-03-01 00:03:21             11620        120          1       40820                Rosemont          5
3833     B 2022-03-01 00:03:21             11620        120          2       40890                  O'Hare         17
4887     B 2022-03-01 00:04:21             11622        120          0       40230              Cumberland          2
4888     B 2022-03-01 00:04:21             11622        120          1       40820                Rosemont          4
4889     B 2022-03-01 00:04:21             11622        120          2       40890                  O'Hare         16
5231     B 2022-03-01 00:04:41             11624        120          0       40230              Cumberland          2
5232     B 2022-03-01 00:04:41             11624        120          1       40820                Rosemont          4
5233     B 2022-03-01 00:04:41             11624        120          2       40890                  O'Hare         15
5504     B 2022-03-01 00:05:01             11628        120          0       40230              Cumberland        Due
5505     B 2022-03-01 00:05:01             11628        120          1       40820                Rosemont          3
5506     B 2022-03-01 00:05:01             11628        120          2       40890                  O'Hare         15
5868     B 2022-03-01 00:05:21             11631        120          0       40230              Cumberland        Due
5869     B 2022-03-01 00:05:21             11631        120          1       40820                Rosemont          3
5870     B 2022-03-01 00:05:21             11631        120          2       40890                  O'Hare         14
6288     B 2022-03-01 00:05:41             11633        120          0       40230              Cumberland        Due
6289     B 2022-03-01 00:05:41             11633        120          1       40820                Rosemont          3
6290     B 2022-03-01 00:05:41             11633        120          2       40890                  O'Hare         14
6635     B 2022-03-01 00:06:02             11640        120          0       40820                Rosemont          2
6636     B 2022-03-01 00:06:02             11640        120          1       40890                  O'Hare         14
11217    B 2022-03-01 00:10:01             11640        120          0       40820                Rosemont    Delayed
11218    B 2022-03-01 00:10:01             11640        120          1       40890                  O'Hare    Delayed
13326    B 2022-03-01 00:12:21             11642        120          0       40820                Rosemont          2
13327    B 2022-03-01 00:12:21             11642        120          1       40890                  O'Hare         12
13685    B 2022-03-01 00:12:41             11645        120          0       40820                Rosemont        Due
13686    B 2022-03-01 00:12:41             11645        120          1       40890                  O'Hare         12
14093    B 2022-03-01 00:13:01             11650        120          0       40820                Rosemont        Due
14094    B 2022-03-01 00:13:01             11650        120          1       40890                  O'Hare         12
14414    B 2022-03-01 00:13:21             11651        120          0       40820                Rosemont        Due
14415    B 2022-03-01 00:13:21             11651        120          1       40890                  O'Hare         11
14705    B 2022-03-01 00:13:42             11658        120          0       40820                Rosemont        Due
14706    B 2022-03-01 00:13:42             11658        120          1       40890                  O'Hare         11
15381    B 2022-03-01 00:14:21             11660        120          0       40890                  O'Hare         11
19490    B 2022-03-01 00:18:21             11662        120          0       40890                  O'Hare          7
20235    B 2022-03-01 00:19:01             11663        120          0       40890                  O'Hare          6
20589    B 2022-03-01 00:19:21             11672        120          0       40890                  O'Hare          3
21340    B 2022-03-01 00:20:01             11674        120          0       40890                  O'Hare          3
22022    B 2022-03-01 00:20:41             11675        120          0       40890                  O'Hare          2
22413    B 2022-03-01 00:21:01             11676        120          0       40890                  O'Hare          2
22745    B 2022-03-01 00:21:21             11678        120          0       40890                  O'Hare          2
24144    B 2022-03-01 00:22:41             11682        120          0       40890                  O'Hare        Due
24462    B 2022-03-01 00:23:01             11685        120          0       40890                  O'Hare        Due
24800    B 2022-03-01 00:23:21             11693        120          0       40890                  O'Hare        Due
25166    B 2022-03-01 00:23:41             11696        120          0       40890                  O'Hare        Due
25522    B 2022-03-01 00:24:01             11699        120          0       40890                  O'Hare        Due

In [134]:
station_id_map.head(50)

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,location_type,parent_station,wheelchair_boarding,route_id,line,dir_code,geometry,index_right,Line,CurrentStationId,Lat,Lng,DirCode
0,30001,NaN,Austin-Blue,None,41.870851,-87.776812,0,40010,0,Blue,B,1,POINT (-87.77681 41.87085),3941,B,11080,41.87089,-87.77681,1
1,30012,NaN,Belmont-Blue,None,41.938132,-87.712359,0,40060,0,Blue,B,1,POINT (-87.71236 41.93813),1245,B,11520,41.93813,-87.71236,1
2,30014,NaN,Jackson-Blue,None,41.878183,-87.629296,0,40070,1,Blue,B,1,POINT (-87.62930 41.87818),2150,B,11300,41.87818,-87.62930,1
3,30034,NaN,Oak Park-Blue,None,41.872108,-87.791602,0,40180,0,Blue,B,1,POINT (-87.79160 41.87211),329,B,11060,41.87211,-87.79160,1
4,30042,NaN,Western-Forest Park,None,41.875478,-87.688436,0,40220,0,Blue,B,1,POINT (-87.68844 41.87548),7177,B,11160,41.87553,-87.68844,1
5,30044,NaN,Cumberland,None,41.984246,-87.838028,0,40230,1,Blue,B,1,POINT (-87.83803 41.98425),1232,B,11631,41.98429,-87.83803,1
6,30044,NaN,Cumberland,None,41.984246,-87.838028,0,40230,1,Blue,B,1,POINT (-87.83803 41.98425),1006,B,11622,41.98429,-87.83803,1
7,30044,NaN,Cumberland,None,41.984246,-87.838028,0,40230,1,Blue,B,1,POINT (-87.83803 41.98425),1310,B,11633,41.98429,-87.83803,1
8,30044,NaN,Cumberland,None,41.984246,-87.838028,0,40230,1,Blue,B,1,POINT (-87.83803 41.98425),1388,B,11640,41.98429,-87.83803,1
9,30048,NaN,Kedzie-Homan,None,41.874341,-87.706040,0,40250,1,Blue,B,1,POINT (-87.70604 41.87434),6552,B,11140,41.87442,-87.70605,1
10,30062,NaN,Division,None,41.903355,-87.666496,0,40320,0,Blue,B,1,POINT (-87.66650 41.90335),1233,B,11420,41.90336,-87.66650,1
11,30068,NaN,UIC-Halsted,None,41.875474,-87.649707,0,40350,1,Blue,B,1,POINT (-87.64971 41.87547),6076,B,11235,41.87551,-87.64971,1
12,30068,NaN,UIC-Halsted,None,41.875474,-87.649707,0,40350,1,Blue,B,1,POINT (-87.64971 41.87547),787,B,11232,41.87551,-87.64971,1
13,30068,NaN,UIC-Halsted,None,41.875474,-87.649707,0,40350,1,Blue,B,1,POINT (-87.64971 41.87547),9376,B,11230,41.87551,-87.64971,1
14,30068,NaN,UIC-Halsted,None,41.875474,-87.649707,0,40350,1,Blue,B,1,POINT (-87.64971 41.87547),9508,B,11240,41.87551,-87.64971,1
15,30068,NaN,UIC-Halsted,None,41.875474,-87.649707,0,40350,1,Blue,B,1,POINT (-87.64971 41.87547),710,B,11228,41.87551,-87.64971,1
16,30072,NaN,Washington-Blue,None,41.883164,-87.629440,0,40370,0,Blue,B,1,POINT (-87.62944 41.88316),2651,B,11340,41.88316,-87.62944,1
17,30076,NaN,Forest Park,None,41.874257,-87.817318,0,40390,1,Blue,B,1,POINT (-87.81732 41.87426),31,B,11020,41.87426,-87.81732,1
18,30084,NaN,Clinton-Blue,None,41.875539,-87.640984,0,40430,0,Blue,B,1,POINT (-87.64098 41.87554),230415,B,11260,41.87554,-87.64098,1
19,30092,NaN,Racine,None,41.875920,-87.659458,0,40470,0,Blue,B,1,POINT (-87.65946 41.87592),226122,B,11206,41.87589,-87.65946,1
20,30092,NaN,Racine,None,41.875920,-87.659458,0,40470,0,Blue,B,1,POINT (-87.65946 41.87592),225664,B,11203,41.87589,-87.65946,1
21,30092,NaN,Racine,None,41.875920,-87.659458,0,40470,0,Blue,B,1,POINT (-87.65946 41.87592),481037,B,11202,41.87589,-87.65946,1
22,30092,NaN,Racine,None,41.875920,-87.659458,0,40470,0,Blue,B,1,POINT (-87.65946 41.87592),558,B,11220,41.87589,-87.65946,1
23,30092,NaN,Racine,None,41.875920,-87.659458,0,40470,0,Blue,B,1,POINT (-87.65946 41.87592),412564,B,11201,41.87589,-87.65946,1
24,30095,NaN,Grand-Blue,None,41.891189,-87.647578,0,40490,0,Blue,B,1,POINT (-87.64758 41.89119),475,B,11380,41.89119,-87.64758,1
25,30107,NaN,Irving Park-Blue,None,41.952925,-87.729229,0,40550,0,Blue,B,1,POINT (-87.72923 41.95293),291619,B,11550,41.95296,-87.72921,1
26,30107,NaN,Irving Park-Blue,None,41.952925,-87.729229,0,40550,0,Blue,B,1,POINT (-87.72923 41.95293),934,B,11560,41.95296,-87.72921,1
27,30111,NaN,California-O'Hare,None,41.921939,-87.696890,0,40570,0,Blue,B,1,POINT (-87.69689 41.92194),40,B,11480,41.92194,-87.69689,1
28,30115,NaN,Damen-O'Hare,None,41.909744,-87.677437,0,40590,0,Blue,B,1,POINT (-87.67744 41.90974),1700,B,11440,41.90974,-87.67744,1
29,30129,NaN,Western-O'Hare,None,41.916157,-87.687364,0,40670,1,Blue,B,1,POINT (-87.68736 41.91616),2146,B,11460,41.91616,-87.68736,1
30,30145,NaN,Harlem-O'Hare,None,41.982270,-87.808900,0,40750,1,Blue,B,1,POINT (-87.80890 41.98227),778,B,11620,41.98232,-87.80890,1
31,30145,NaN,Harlem-O'Hare,None,41.982270,-87.808900,0,40750,1,Blue,B,1,POINT (-87.80890 41.98227),103,B,11604,41.98232,-87.80890,1
32,30145,NaN,Harlem-O'Hare,None,41.982270,-87.808900,0,40750,1,Blue,B,1,POINT (-87.80890 41.98227),2014,B,11605,41.98232,-87.80890,1
33,30153,NaN,Monroe-Blue,None,41.880703,-87.629378,0,40790,0,Blue,B,1,POINT (-87.62938 41.88070),2435,B,11320,41.88070,-87.62938,1
34,30157,NaN,Illinois Medical District,None,41.875706,-87.673932,0,40810,1,Blue,B,1,POINT (-87.67393 41.87571),37,B,11180,41.87564,-87.67393,1
35,30159,NaN,Rosemont,None,41.983507,-87.859388,0,40820,1,Blue,B,1,POINT (-87.85939 41.98351),2787,B,11642,41.98351,-87.85939,1
36,30159,NaN,Rosemont,None,41.983507,-87.859388,0,40820,1,Blue,B,1,POINT (-87.85939 41.98351),20742,B,11646,41.98351,-87.85939,1
37,30159,NaN,Rosemont,None,41.983507,-87.859388,0,40820,1,Blue,B,1,POINT (-87.85939 41.98351),173297,B,11653,41.98351,-87.85939,1
38,30159,NaN,Rosemont,None,41.983507,-87.859388,0,40820,1,Blue,B,1,POINT (-87.85939 41.98351),12133,B,11643,41.98351,-87.85939,1
39,30159,NaN,Rosemont,None,41.983507,-87.859388,0,40820,1,Blue,B,1,POINT (-87.85939 41.98351),3008,B,11651,41.98351,-87.85939,1
40,30159,NaN,Rosemont,None,41.983507,-87.859388,0,40820,1,Blue,B,1,POINT (-87.85939 41.98351),32,B,11660,41.98351,-87.85939,1
41,30171,NaN,O'Hare,None,41.977665,-87.904223,0,40890,1,Blue,B,1,POINT (-87.90422 41.97767),2791,B,11663,41.97767,-87.90422,1
42,30171,NaN,O'Hare,None,41.977665,-87.904223,0,40890,1,Blue,B,1,POINT (-87.90422 41.97767),2646,B,11662,41.97767,-87.90422,1
43,30171,NaN,O'Hare,None,41.977665,-87.904223,0,40890,1,Blue,B,1,POINT (-87.90422 41.97767),2073,B,11699,41.97767,-87.90422,1
44,30171,NaN,O'Hare,None,41.977665,-87.904223,0,40890,1,Blue,B,1,POINT (-87.90422 41.97767),148334,B,11667,41.97767,-87.90422,1
45,30171,NaN,O'Hare,None,41.977665,-87.904223,0,40890,1,Blue,B,1,POINT (-87.90422 41.97767),2001,B,11693,41.97767,-87.90422,1
46,30171,NaN,O'Hare,None,41.977665,-87.904223,0,40890,1,Blue,B,1,POINT (-87.90422 41.97767),5231,B,11696,41.97767,-87.90422,1
47,30171,NaN,O'Hare,None,41.977665,-87.904223,0,40890,1,Blue,B,1,POINT (-87.90422 41.97767),47419,B,11673,41.97767,-87.90422,1
48,30171,NaN,O'Hare,None,41.977665,-87.904223,0,40890,1,Blue,B,1,POINT (-87.90422 41.97767),5021,B,11682,41.97767,-87.90422,1
49,30171,NaN,O'Hare,None,41.977665,-87.904223,0,40890,1,Blue,B,1,POINT (-87.90422 41.97767),4598,B,11675,41.97767,-87.90422,1

In [135]:
# want a map from parent_station (aka ParentStop in the pdf) to CurrentStationId for Brown Line
# station_id_map.CurrentStationId // 1000 == 31 find the stations on the brown line (3) going in direction (1) (Kimball)
blue_entries = station_id_map[(station_id_map.line == 'B') & (station_id_map.CurrentStationId // 1000 == 11)].sort_values('CurrentStationId')[['stop_name', 'parent_station','CurrentStationId']]

In [136]:
blue_entries.query('stop_name == "Forest Park"')

      stop_name  parent_station  CurrentStationId
17  Forest Park           40390             11020

In [137]:
bluemap = blue_entries[['parent_station','CurrentStationId']].set_index('parent_station').CurrentStationId.to_dict()